
.sign-block{ position: relative; display: block; margin: 0 0 50px;
  text-align: center;
  .title{ position: relative; display: block; margin-bottom: 10px; opacity: .8;
    font-weight: 100; font-size: 54px; line-height: 1.2; letter-spacing: -.025em;}
  .tit-info{ margin-bottom: 25px; opacity: .8;
    font-weight: 300; font-size: 12px; line-height: 1.2; letter-spacing: .05em;
    a{ color: $pink; border-bottom: 1px solid transparent;
      &:hover{ border-bottom-color: $pink;}
    }
  }
  > .or{ margin: 25px 0; opacity: .6;
    font-weight: 100;font-size: 24px; line-height: 28px; text-transform: uppercase;}
}

.social-logins {
  .soc-login{ position: relative; display: inline-block;width: 90px; height: 90px; margin: 0 -5px; font-size: 16px; line-height: 20px; letter-spacing: .05em; color: #fff; text-align: center; z-index: 0;
    &:hover::before { transform: scale(1.1); }
    &:before { content: ''; position: absolute; display: block; width: 100%; height: 100%; top: 0; left: 0; transition: transform .5s $cubicLight; }
    span { display: none; }
    &.fb{
      &::before { left: 60%; width: 35%; background: url("img/sign/facebook.svg") 0 30% no-repeat; background-size: contain; }
    }
    &.in{
      &::before { left: 31%; width: 38%; background: url("img/sign/linkedin.svg") 0 30% no-repeat; background-size: contain; }
    }
    &.sc{
      &::before { left: 13%; width: 73%; background: url("img/sign/soundcloud.svg") 0 13% no-repeat; background-size: contain; }
    }
    &.em{
      &::before { left: 29%; width: 37%; background: url("img/sign/contact-ico.svg") 0 37% no-repeat; background-size: contain; }
    }
  }
}

.sign-form{ position: relative; width: 100%; max-width: 480px; margin: 0 auto;
  .inp-block{ position: relative; display: block; margin-bottom: 20px; padding-top: 20px;
    input{ position: relative; display: block; width: 100%; padding: 10px 10px; margin: 0 0 25px;
      box-sizing: border-box;
      background: none; outline: none; border: 1px solid rgba(255,255,255,.4); border-radius: 4px;
      transition: all .35s ease;
      font-weight: 300; font-size: 14px; line-height: 20px; color: $white;
      &:hover{border: 1px solid rgba(255,255,255,.8);}
      &:focus{border: 1px solid rgba(255,255,255,1);}
    }
    label{ position: absolute; display: block; top: 0; left: 0; cursor: pointer; opacity: .4; text-align: left;
      font-weight: 300; font-size: 14px; line-height: 20px; color: $white; text-transform: uppercase;
      transition: opacity .35s ease, transform .25s linear; user-select: none; will-change: transform;}
    input:hover + label{ opacity: .8;}
    input:focus + label{ opacity: 1; transform: translate(0,-5px);}
  }
  .sign-label{ position: relative; display: block; width: 100%; padding-left: 25px; cursor: pointer; margin-bottom: 20px;
    box-sizing: border-box; user-select: none;
    input{ display: none;}
    input:checked ~ i:after{ opacity: 1;}
    input:checked ~ span{ opacity: 1;}
    span{ position: relative; display: block; opacity: .6;
      transition: opacity .35s ease; color: $white;
      font-weight: 300; font-size: 14px; line-height: 20px; text-align: left;}
    i{ position: absolute; display: block; width: 16px; height: 16px; top: 1px; left: 0; margin: auto;
      &:before, &:after{ content: ''; position: absolute; display: block; top: 0; left: 0; right: 0; bottom: 0; margin: auto;
        box-sizing: border-box; }
      &:before{ border: 1px solid rgba(255, 255, 255, .6); }
      &:after{ width: 10px; height: 10px; background: $pink; opacity: 0;
        transition: opacity .25s ease; }
    }
    &:hover{
      span{ opacity: .8; }
    }
  }
  .sbm-block{ position: relative; margin-top: 50px; text-align: left;
    button{ position: relative; display: inline-block; vertical-align: middle; height: 46px; margin: 0; padding: 0 15px;
      background: $pink; border-radius: 4px;
      font-size: 12px; line-height: 46px; letter-spacing: .05em; color: #fff;
      &:hover{ background: darken($pink,5%); }
      &:active{ background: lighten($pink,5%); }
    }
    a{ position: relative; display: inline-block; vertical-align: middle; margin-left: 15px; border-bottom: 1px solid transparent;
      line-height: 16px; color: $pink;
      &:hover{ border-bottom-color: $pink;}
    }
  }
}

@media screen and (max-width: 800px) {
  .sign-block .tit-info{ width: 551px; margin: 25px auto; line-height: 1.5em;}
}

@media screen and (max-width: 720px) {
  .social-logins { width: 70%; margin: auto; }
  .social-logins { width: inherit; }
  .social-logins .soc-login { margin: 10px;}
}

@media screen and (max-width: 507px) {
  .sign-block .tit-info{ width: 292px; }
  .social-logins .soc-login { margin-bottom: 15px;}
  .social-logins .soc-login.fb::before {right: 0; left: 45px;}
  .sign-form { width: 90%; }
}

@media screen and (max-width: 460px) {
  .social-logins { width: 50%; }
  .social-logins .soc-login.sc::before { left: 23px; }
}

@media screen and (max-width: 346px) {
  .social-logins .soc-login.fb::before { left: 28px; }
  .social-logins .soc-login.sc::before { left: 10px; }
}