.tabs { position: relative; display: inline-block; vertical-align: top;
  &.hidden { opacity: 0;}
}

.sep{ position: relative; display: inline-block; vertical-align: top; top: 10px; width: 1px; height: 20px; background: $white; opacity: .13;}
.tabs-item { position: relative; display: inline-block; vertical-align: top; padding: 0; margin: 0 29px; opacity: .2;
  border: none; background: none; outline: none;
  font-size: 40px; font-weight: 100; line-height: 0.8; color: $white; letter-spacing: -.025em;

  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }

  &:hover { opacity: .6; }
  &:active,&.active { opacity: 1; }
  &.active { cursor: default; }
}

@media screen and (max-width: 1200px) {
  .tabs {
    .tabs-item { font-size: 28px;}
    .sep { top: 5px; }
  }
}

@media screen and (max-width: 720px) {
  .tabs {
    .tabs-item { font-size: 28px; margin: 0 10px;}
  }
}

@media screen and (max-width: 500px) {
  .tabs {
    .tabs-item { font-size: 20px;}
    .sep { top: -2px; }
  }
}

@media screen and (max-width: 400px) {
  .tabs {
    .tabs-item { margin: 0 5px; font-size: 16px;}
    .sep { top: -2px; }
  }
}

