<div class="popup" id="aboutPopup">
    <button class="popup-close" type="button">Close</button>
    <div class="popup-bg"></div>
    <div class="popup-scroll">
        <div class="scroll-bg"></div>
        <div class="popup-inner">

            <div class="about-block">
                <div class="title">about</div>
                <div class="logo"></div>
                <div class="logo-info">Your social network for audio hosting!</div>
            </div>

            <div class="about-block">
                <div class="title">team</div>
                <div class="peoples-wrap">
                    <div class="people-one">
                        <div class="img">
                            <img src="images/peoples/1.jpg" alt=""/>
                        </div>
                        <div class="name">David Walters</div>
                        <div class="position">FOUNDER&CEO</div>
                        <a href="//facebook.com/" target="_blank" class="fb-link"></a>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img src="images/peoples/2.jpg" alt=""/>
                        </div>
                        <div class="name">Lola Tamislova</div>
                        <div class="position">ASSISTANT</div>
                        <a href="//facebook.com/" target="_blank" class="fb-link"></a>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img src="images/peoples/3.jpg" alt=""/>
                        </div>
                        <div class="name">Tatiana Kortilova</div>
                        <div class="position">ASSISTANT</div>
                        <a href="//facebook.com/" target="_blank" class="fb-link"></a>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img src="images/peoples/4.jpg" alt=""/>
                        </div>
                        <div class="name">Lila Morgan</div>
                        <div class="position">PRODUCT MANAGER</div>
                        <a href="//facebook.com/" target="_blank" class="fb-link"></a>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img src="images/peoples/1.jpg" alt=""/>
                        </div>
                        <div class="name">David Walters</div>
                        <div class="position">FOUNDER&CEO</div>
                        <a href="//facebook.com/" target="_blank" class="fb-link"></a>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img src="images/peoples/2.jpg" alt=""/>
                        </div>
                        <div class="name">Lola Tamislova</div>
                        <div class="position">ASSISTANT</div>
                        <a href="//facebook.com/" target="_blank" class="fb-link"></a>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img src="images/peoples/3.jpg" alt=""/>
                        </div>
                        <div class="name">Tatiana Kortilova</div>
                        <div class="position">ASSISTANT</div>
                        <a href="//facebook.com/" target="_blank" class="fb-link"></a>
                    </div>
                    <div class="people-one">
                        <div class="img">
                            <img src="images/peoples/4.jpg" alt=""/>
                        </div>
                        <div class="name">Lila Morgan</div>
                        <div class="position">PRODUCT MANAGER</div>
                        <a href="//facebook.com/" target="_blank" class="fb-link"></a>
                    </div>

                </div>
            </div>

            <div class="about-block">
                <div class="title">signed up industry professionals</div>
                <div class="swiper-container peoples-wrap">
                    <div class="swiper-wrapper">

                        <div class="people-one swiper-slide">
                            <div class="img">
                                <img src="images/peoples/1.jpg" alt=""/>
                            </div>
                            <div class="name">David Walters</div>
                            <div class="position">FOUNDER&CEO</div>
                        </div>
                        <div class="people-one swiper-slide">
                            <div class="img">
                                <img src="images/peoples/2.jpg" alt=""/>
                            </div>
                            <div class="name">Lola Tamislova</div>
                            <div class="position">ASSISTANT</div>
                        </div>
                        <div class="people-one swiper-slide">
                            <div class="img">
                                <img src="images/peoples/3.jpg" alt=""/>
                            </div>
                            <div class="name">Tatiana Kortilova</div>
                            <div class="position">ASSISTANT</div>
                        </div>
                        <div class="people-one swiper-slide">
                            <div class="img">
                                <img src="images/peoples/4.jpg" alt=""/>
                            </div>
                            <div class="name">Lila Morgan</div>
                            <div class="position">PRODUCT MANAGER</div>
                        </div>
                        <div class="people-one swiper-slide">
                            <div class="img">
                                <img src="images/peoples/2.jpg" alt=""/>
                            </div>
                            <div class="name">Lola Tamislova</div>
                            <div class="position">ASSISTANT</div>
                        </div>
                        <div class="people-one swiper-slide">
                            <div class="img">
                                <img src="images/peoples/3.jpg" alt=""/>
                            </div>
                            <div class="name">Tatiana Kortilova</div>
                            <div class="position">ASSISTANT</div>
                        </div>
                        <div class="people-one swiper-slide">
                            <div class="img">
                                <img src="images/peoples/4.jpg" alt=""/>
                            </div>
                            <div class="name">Lila Morgan</div>
                            <div class="position">PRODUCT MANAGER</div>
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="about-block">
                <div class="title">artists</div>
                <div class="icons-wrap">
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/prod-ab-ico.svg" />
                        </div>
                        <div class="name">MUSIC PRODUCERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/beat-ab-ico.svg" />
                        </div>
                        <div class="name">BEATMAKERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/djs-ab-ico.svg" />
                        </div>
                        <div class="name">DJS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/turn-ab-ico.svg" />
                        </div>
                        <div class="name">TURNTABLISTS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/curat-ab-ico.svg" />
                        </div>
                        <div class="name">CURATORS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/singers-ab-ico.svg" />
                        </div>
                        <div class="name">SINGERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/rapp-ab-ico.svg" />
                        </div>
                        <div class="name">RAPPERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/vocal-ab-ico.svg" />
                        </div>
                        <div class="name">VOCALISTS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/speak-ab-ico.svg" />
                        </div>
                        <div class="name">SPEAKERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/beatbox-ab-ico.svg" />
                        </div>
                        <div class="name">BEATBOXERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/compos-ab-ico.svg" />
                        </div>
                        <div class="name">COMPOSERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/songwrite-ab-ico.svg" />
                        </div>
                        <div class="name">SONGWRITERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/instrum-ab-ico.svg" />
                        </div>
                        <div class="name">INSTRUMENTALISTS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/bands-ab-ico.svg" />
                        </div>
                        <div class="name">BANDS</div>
                    </div>

                </div>
            </div>

            <div class="about-block">
                <div class="title">Executives</div>
                <div class="icons-wrap">
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/a_rs-ab-ico.svg" />
                        </div>
                        <div class="name">A&Rs</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/labels-ab-ico.svg" />
                        </div>
                        <div class="name">LABELS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/publish-ab-ico.svg" />
                        </div>
                        <div class="name">PUBLISHERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/manag-ab-ico.svg" />
                        </div>
                        <div class="name">MANAGERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/book-ab-ico.svg" />
                        </div>
                        <div class="name">BOOKERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/ditrib-ab-ico.svg" />
                        </div>
                        <div class="name">DISTRIBUTERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/record-ab-ico.svg" />
                        </div>
                        <div class="name">RECORDING STUDIOS</div>
                    </div>

                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/film-ab-ico.svg" />
                        </div>
                        <div class="name">FILM PRODUCER</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/vert-ab-ico.svg" />
                        </div>
                        <div class="name">ADVERTISING AGENCIES</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/supervis-ab-ico.svg" />
                        </div>
                        <div class="name">MUSIC SUPERVISORS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/filmcut-ab-ico.svg" />
                        </div>
                        <div class="name">FILM CUTTERs</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/lawyer-ab-ico.svg" />
                        </div>
                        <div class="name">LAWYERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/event-ab-ico.svg" />
                        </div>
                        <div class="name">EVENT MANAGERS</div>
                    </div>
                    <div class="icon-one">
                        <div class="img">
                            <img src="images/about/bands2-ab-ico.svg" />
                        </div>
                        <div class="name">BANDS</div>
                    </div>

                </div>
            </div>

            <div class="about-block">
                <div class="title">Content</div>
                <div class="content-wrap">
                    <div class="content-one">
                        <div class="content-inn">
                            <span class="cnt-s100">3</span><br>
                            <span class="cnt-s20">BILLION</span><br>
                            <span class="cnt-s12">Minutes Uploaded</span>
                        </div>
                    </div>
                    <div class="content-one">
                        <div class="content-inn">
                            <span class="cnt-s60">4.</span><span class="cnt-s50">678.</span><span class="cnt-s24">232</span><br>
                            <span class="cnt-s20">SONGS</span>
                        </div>
                    </div>
                    <div class="content-one">
                        <div class="content-inn">
                            <span class="cnt-s60">5.672</span><br>
                            <span class="cnt-s20">LICENCES</span>
                        </div>
                    </div>
                    <div class="content-one">
                        <div class="content-inn">
                            <span class="cnt-s100">3</span><br>
                            <span class="cnt-s20">MILLION</span><br>
                            <span class="cnt-s12">Likes</span>
                        </div>
                    </div>

                    <div class="content-one">
                        <div class="content-inn">
                            <span class="cnt-s100">1</span><br>
                            <span class="cnt-s20">MILLION</span><br>
                            <span class="cnt-s12">Purchases</span>
                        </div>
                    </div>
                    <div class="content-one">
                        <div class="content-inn">
                            <span class="cnt-s60">2.</span><span class="cnt-s50">678.</span><span class="cnt-s24">232</span><br>
                            <span class="cnt-s20">HASHTAGS</span>
                        </div>
                    </div>
                    <div class="content-one">
                        <div class="content-inn">
                            <span class="cnt-s60">1.</span><span class="cnt-s50">678.</span><span class="cnt-s24">232</span><br>
                            <span class="cnt-s20">MENTIONS</span>
                        </div>
                    </div>
                    <div class="content-one">
                        <div class="content-inn">
                            <span class="cnt-s60">5.672</span><br>
                            <span class="cnt-s20">PLAYLISTS</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="about-block">
                <div class="info-text">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.</p>
                    <p>odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
                </div>
                <a href="#" class="info-text-btn">BE A PART OF THE COMMUNITY</a>
            </div>

        </div>
    </div>
</div>