<div class="swiper-slide feed-box">
    <div class="feed-inn">

        <div class="feed-bg">
            <img src="images/feed-boxes/1.jpg" alt="Come again shared a new song"/>
        </div>

        <button class="box-btn play" title="play"></button>

        <a href="#" class="box-title">Arctic Monkeys</a>

    </div>
</div>
<div class="swiper-slide feed-box">
    <div class="feed-inn">

        <div class="feed-bg">
            <img src="images/feed-boxes/2.jpg" alt="Come again shared a new song"/>
        </div>

        <button class="box-btn play" title="play"></button>

        <a href="#" class="box-title">Come Again</a>

    </div>
</div>
<div class="swiper-slide feed-box">
    <div class="feed-inn">

        <div class="feed-bg">
            <img src="images/feed-boxes/3.jpg" alt="Come again shared a new song"/>
        </div>

        <button class="box-btn play" title="play"></button>

        <a href="#" class="box-title">Peter Maffay</a>

    </div>
</div>
<div class="swiper-slide feed-box">
    <div class="feed-inn">

        <div class="feed-bg">
            <img src="images/feed-boxes/4.jpg" alt="Come again shared a new song"/>
        </div>

        <button class="box-btn play" title="play"></button>

        <a href="#" class="box-title">Arctic Monkeys</a>

    </div>
</div>
<div class="swiper-slide feed-box">
    <div class="feed-inn">

        <div class="feed-bg">
            <img src="images/feed-boxes/3.jpg" alt="Come again shared a new song"/>
        </div>

        <button class="box-btn play" title="play"></button>

        <a href="#" class="box-title">Come Again</a>

    </div>
</div>
<div class="swiper-slide feed-box">
    <div class="feed-inn">

        <div class="feed-bg">
            <img src="images/feed-boxes/1.jpg" alt="Come again shared a new song"/>
        </div>

        <div class="feed-top">
            <div class="featured-track">Featured track</div>
        </div>

        <button class="box-btn play" title="play"></button>

        <a href="#" class="box-title">Peter Maffay</a>

    </div>
</div>
<div class="swiper-slide feed-box">
    <div class="feed-inn">

        <div class="feed-bg">
            <img src="images/feed-boxes/4.jpg" alt="Come again shared a new song"/>
        </div>

        <button class="box-btn play" title="play"></button>

        <a href="#" class="box-title">Arctic Monkeys</a>

    </div>
</div>
<div class="swiper-slide feed-box">
    <div class="feed-inn">

        <div class="feed-bg">
            <img src="images/feed-boxes/2.jpg" alt="Come again shared a new song"/>
        </div>

        <button class="box-btn play" title="play"></button>

        <a href="#" class="box-title">Come Again</a>

    </div>
</div>
<div class="swiper-slide feed-box">
    <div class="feed-inn">

        <div class="feed-bg">
            <img src="images/feed-boxes/1.jpg" alt="Come again shared a new song"/>
        </div>

        <button class="box-btn play" title="play"></button>

        <a href="#" class="box-title">Peter Maffay</a>

    </div>
</div>