<!--Action buttons-->
<div style="margin: 50px 0;">
<div class="action-btns">
    <button class="action-btn like active" title="like">4.289</button>
    <button class="action-btn share" title="share">share</button>
    <button class="action-btn add" title="add">add</button>
    <button class="action-btn repost" title="add">repost</button>
</div>
</div>

<!--Article boxes-->
<div style="margin: 50px 0;">
    <div class="article-boxes">
        <article class="article-box">
            <p class="article-title">How to be a succesful musician?</p>
            <a href="#" class="article-link" title="Read all">read all</a>
        </article>
    </div>

    <div class="article-boxes">
        <article class="article-box">
            <p class="article-title">10 tricks to create a good band.</p>
            <a href="#" class="article-link" title="Read all">read all</a>
        </article>
    </div>

    <div class="article-boxes">
        <article class="article-box">
            <p class="article-title">H10 tricks to create a good band.</p>
            <a href="#" class="article-link" title="Read all">read all</a>
        </article>
    </div>
</div>

<!--Add new playlist-->
<div style="margin: 50px 0;">
    <button class="action-btn big add" title="Add new playlist">Add new playlist</button>
</div>

<!--People-->
<div style="margin: 50px 0;">
    <div class="people">
        <img class="people-img" src="" alt="">
        <h4 class="people-name">Rana Onan</h4>
        <button class="follow-btn">Follow</button>
    </div>

        <!--Active-->
    <div class="people">
        <img class="people-img" src="" alt="">
        <h4 class="people-name">Rana Onan</h4>
        <button class="follow-btn active">Following</button>
    </div>
<div>

<!--Follow & Upload buttons-->
<div style="margin: 50px 0;">
    <button class="follow-btn big ">Follow</button>
    <button class="follow-btn big active">Following</button>
</div>

<div style="margin: 50px 0;">
    <button class="upload-btn big ">Upload</button>
</div>