<div class="popup" id="emailJoin">
    <button class="popup-close" type="button">Close</button>
    <div class="popup-bg"></div>
    <div class="popup-scroll">
        <div class="popup-inner">

            <div class="eJoin-block">
                <div class="title">Join with your email address</div>
                <div class="eJoin-inner">
                    <div class="eJoin-img">Mail
                        <div class="mail-ico"></div>
                    </div>
                    <form method="post" class="eJoin-form" action="profile.html" >
                        <div class="inp-block">
                            <input type="text" name="firstName" id="userFirstName" placeholder="David" />
                            <label for="userFirstName">First Name</label>
                        </div>
                        <div class="inp-block">
                            <input type="text" name="lastName" id="userLastName" placeholder="Walters" />
                            <label for="userLastName">Last Name</label>
                        </div>
                        <div class="inp-block">
                            <input type="text" name="userNickname" id="userNickname" placeholder="MusicLover" />
                            <label for="userNickname">Username</label>
                        </div>
                        <div class="inp-block">
                            <input type="password" name="userPass" id="userPass" placeholder="******" />
                            <label for="userPass">Password</label>
                        </div>
                        <div class="inp-block">
                            <input type="email" name="userEmail" id="userEmail" placeholder="my@email.com" />
                            <label for="userEmail">Email</label>
                        </div>
                        <div class="inp-block">
                            <select data-placeholder="Please select gender" name="selectGender" id="selectGender">
                                <option></option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                            <label class="select2-label" for="selectGender">Select Gender</label>
                        </div>
                        <div class="inp-block">
                            <input type="text" value="" name="birthDate" id="birthDate" data-type="datepicker">
                            <label for="birthDate">Date of Birth</label>
                        </div>
                        <div class="inp-block">
                            <input type="text" name="invitationCode" id="invitationCode" />
                            <label for="invitationCode">Invitation Code</label>
                        </div>
                        <div class="inp-block">
                            <label for="privacyPolicy" class="policy-label">
                                <input type="checkbox" name="privacyPolicy" value="0" id="privacyPolicy">
                                <i></i>
                                <span class="privacy-info">I acknowledge that I have read and accept the <a href="#">Terms of Use Agreement</a> and consent to the <a href="#">Privacy Policy</a> and <a href="#">Video Privacy Policy</a>.</span>
                            </label>
                            <p class="is-signed">Already have an Imusify account? <a href="#">Sign in</a></p>
                        </div>
                        <div class="inp-block">
                            <div class="sbm-block">
                                <button type="submit">Create Account</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>