<div id="favorites">
    <button class="popup-close" type="button">close</button>
    <div class="plst-top-bg" style="background-image: url('./images/profile/vinil-face1.jpg');"></div>
    <div class="tit-playlist">
        <span>Your Favorites</span>
    </div>
    <div class="inner-scroll favorites-inner">
        <div class="follow-one">
        <div class="foll-inn">
            <div class="feed-box">
                <div class="feed-inn">
                    <div class="feed-bg">
                        <img src="images/feed-boxes/1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="foll-body">
                <div class="foll-track">
                    <button class="box-btn play" title="play"></button>
                    <div class="track-info">
                        <a href="#" class="title">Arctic Monkeys</a>
                        <a href="#" class="subtitle">Do I Wanna Know?</a>
                    </div>
                    <div class="track-timeline">
                        <div class="sound-wave"><span></span></div>
                        <i class="duration">2:48</i>
                    </div>
                </div>
                <div class="action-btns">
                    <button class="action-btn like" title="like"><span>4.289</span></button>
                    |
                    <button class="action-btn share" title="share"><span>share</span></button>
                    |
                    <button class="action-btn add" title="add"><span>add</span></button>
                    |
                    <button class="action-btn repost" title="repost"><span>repost</span></button>
                </div>
            </div>
        </div>
    </div>
        <div class="follow-one">
            <div class="foll-inn">
                <div class="feed-box">
                    <div class="feed-inn">
                        <div class="feed-bg">
                            <img src="images/feed-boxes/2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="foll-body">
                    <div class="foll-track">
                        <button class="box-btn play" title="play"></button>
                        <div class="track-info">
                            <a href="#" class="title">Border</a>
                            <a href="#" class="subtitle">Come again</a>
                        </div>
                        <div class="track-timeline">
                            <div class="sound-wave"><span></span></div>
                            <i class="duration">3:54</i>
                        </div>
                    </div>
                    <div class="action-btns">
                        <button class="action-btn like" title="like"><span>4.289</span></button>
                        |
                        <button class="action-btn share" title="share"><span>share</span></button>
                        |
                        <button class="action-btn add" title="add"><span>add</span></button>
                        |
                        <button class="action-btn repost" title="repost"><span>repost</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="follow-one">
            <div class="foll-inn">
                <div class="feed-box">
                    <div class="feed-inn">
                        <div class="feed-bg">
                            <img src="images/feed-boxes/3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="foll-body">
                    <div class="foll-track">
                        <button class="box-btn play" title="play"></button>
                        <div class="track-info">
                            <a href="#" class="title">Peter Maffay</a>
                            <a href="#" class="subtitle">Halleluja</a>
                        </div>
                        <div class="track-timeline">
                            <div class="sound-wave"><span></span></div>
                            <i class="duration">2:21</i>
                        </div>
                    </div>
                    <div class="action-btns">
                        <button class="action-btn like" title="like"><span>4.289</span></button>
                        |
                        <button class="action-btn share" title="share"><span>share</span></button>
                        |
                        <button class="action-btn add" title="add"><span>add</span></button>
                        |
                        <button class="action-btn repost" title="repost"><span>repost</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="follow-one">
            <div class="foll-inn">
                <div class="feed-box">
                    <div class="feed-inn">
                        <div class="feed-bg">
                            <img src="images/feed-boxes/4.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="foll-body">
                    <div class="foll-track">
                        <button class="box-btn play" title="play"></button>
                        <div class="track-info">
                            <a href="#" class="title">Arctic Monkeys</a>
                            <a href="#" class="subtitle">When The Sun Goes Down</a>
                        </div>
                        <div class="track-timeline">
                            <div class="sound-wave"><span></span></div>
                            <i class="duration">3:16</i>
                        </div>
                    </div>
                    <div class="action-btns">
                        <button class="action-btn like" title="like"><span>4.289</span></button>
                        |
                        <button class="action-btn share" title="share"><span>share</span></button>
                        |
                        <button class="action-btn add" title="add"><span>add</span></button>
                        |
                        <button class="action-btn repost" title="repost"><span>repost</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="follow-one">
            <div class="foll-inn">
                <div class="feed-box">
                    <div class="feed-inn">
                        <div class="feed-bg">
                            <img src="images/feed-boxes/1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="foll-body">
                    <div class="foll-track">
                        <button class="box-btn play" title="play"></button>
                        <div class="track-info">
                            <a href="#" class="title">Arctic Monkeys</a>
                            <a href="#" class="subtitle">Do I Wanna Know?</a>
                        </div>
                        <div class="track-timeline">
                            <div class="sound-wave"><span></span></div>
                            <i class="duration">2:48</i>
                        </div>
                    </div>
                    <div class="action-btns">
                        <button class="action-btn like" title="like"><span>4.289</span></button>
                        |
                        <button class="action-btn share" title="share"><span>share</span></button>
                        |
                        <button class="action-btn add" title="add"><span>add</span></button>
                        |
                        <button class="action-btn repost" title="repost"><span>repost</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="follow-one">
            <div class="foll-inn">
                <div class="feed-box">
                    <div class="feed-inn">
                        <div class="feed-bg">
                            <img src="images/feed-boxes/2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="foll-body">
                    <div class="foll-track">
                        <button class="box-btn play" title="play"></button>
                        <div class="track-info">
                            <a href="#" class="title">Border</a>
                            <a href="#" class="subtitle">Come again</a>
                        </div>
                        <div class="track-timeline">
                            <div class="sound-wave"><span></span></div>
                            <i class="duration">3:54</i>
                        </div>
                    </div>
                    <div class="action-btns">
                        <button class="action-btn like" title="like"><span>4.289</span></button>
                        |
                        <button class="action-btn share" title="share"><span>share</span></button>
                        |
                        <button class="action-btn add" title="add"><span>add</span></button>
                        |
                        <button class="action-btn repost" title="repost"><span>repost</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="follow-one">
            <div class="foll-inn">
                <div class="feed-box">
                    <div class="feed-inn">
                        <div class="feed-bg">
                            <img src="images/feed-boxes/3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="foll-body">
                    <div class="foll-track">
                        <button class="box-btn play" title="play"></button>
                        <div class="track-info">
                            <a href="#" class="title">Peter Maffay</a>
                            <a href="#" class="subtitle">Halleluja</a>
                        </div>
                        <div class="track-timeline">
                            <div class="sound-wave"><span></span></div>
                            <i class="duration">2:21</i>
                        </div>
                    </div>
                    <div class="action-btns">
                        <button class="action-btn like" title="like"><span>4.289</span></button>
                        |
                        <button class="action-btn share" title="share"><span>share</span></button>
                        |
                        <button class="action-btn add" title="add"><span>add</span></button>
                        |
                        <button class="action-btn repost" title="repost"><span>repost</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="follow-one">
            <div class="foll-inn">
                <div class="feed-box">
                    <div class="feed-inn">
                        <div class="feed-bg">
                            <img src="images/feed-boxes/4.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="foll-body">
                    <div class="foll-track">
                        <button class="box-btn play" title="play"></button>
                        <div class="track-info">
                            <a href="#" class="title">Arctic Monkeys</a>
                            <a href="#" class="subtitle">When The Sun Goes Down</a>
                        </div>
                        <div class="track-timeline">
                            <div class="sound-wave"><span></span></div>
                            <i class="duration">3:16</i>
                        </div>
                    </div>
                    <div class="action-btns">
                        <button class="action-btn like" title="like"><span>4.289</span></button>
                        |
                        <button class="action-btn share" title="share"><span>share</span></button>
                        |
                        <button class="action-btn add" title="add"><span>add</span></button>
                        |
                        <button class="action-btn repost" title="repost"><span>repost</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="favorites-after"></div>