<div class="feed-box">
    <div class="feed-inn">

        <div class="feed-bg">
            <img src="images/feed-boxes/1.jpg" alt="Come again shared a new song"/>
        </div>

        <div class="feed-top">
            <div class="featured-track">Featured track</div>
        </div>

        <button class="box-btn play" title="play"></button>

        <div class="feed-bottom">
            <div class="track-info">
                <a href="#" class="subtitle"><span>Come again</span> shared a new song</a>
                <a href="#" class="title">Border</a>
            </div>
            <div class="track-timeline">
                <div class="action-btns">
                    <button class="action-btn like" title="like">4.289</button>
                    |
                    <button class="action-btn share" title="share">share</button>
                    |
                    <button class="action-btn add" title="add">add</button>
                </div>
                <div class="sound-wave">
                    <span></span>
                    <i class="duration">2:48</i>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="feed-box">
    <div class="feed-inn">

        <div class="feed-bg">
            <img src="images/feed-boxes/3.jpg" alt="Come again shared a new song"/>
        </div>

        <button class="box-btn play" title="play"></button>

        <div class="feed-bottom">
            <div class="track-info">
                <a href="#" class="subtitle"><span>DAVID WALTERS</span> shared a new song</a>
                <a href="#" class="title">Border</a>
            </div>
            <div class="track-timeline">
                <div class="action-btns">
                    <button class="action-btn like" title="like">4.289</button>
                    |
                    <button class="action-btn share" title="share">share</button>
                    |
                    <button class="action-btn add" title="add">add</button>
                </div>
                <div class="sound-wave">
                    <span></span>
                    <i class="duration">2:48</i>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="feed-box">
    <div class="feed-inn">

        <div class="feed-bg">
            <img src="images/feed-boxes/1.jpg" alt="Come again shared a new song"/>
        </div>

        <button class="box-btn play" title="play"></button>

        <div class="feed-bottom">
            <div class="track-info">
                <a href="#" class="subtitle"><span>Come again</span> shared a new song</a>
                <a href="#" class="title">Border</a>
            </div>
            <div class="track-timeline">
                <div class="action-btns">
                    <button class="action-btn like" title="like">4.289</button>
                    |
                    <button class="action-btn share" title="share">share</button>
                    |
                    <button class="action-btn add" title="add">add</button>
                </div>
                <div class="sound-wave">
                    <span></span>
                    <i class="duration">2:48</i>
                </div>
            </div>
        </div>

    </div>
</div>