<div class="popup" id="inviteFriends">
    <button class="popup-close" type="button">Close</button>
    <div class="popup-bg"></div>
    <div class="popup-scroll">
        <div class="popup-inner">

            <div class="invite-block">
                <div class="title">Invite friends to join imusify</div>
                <div class="invite-inner">
                    <div class="invite-img">Mail
                        <div class="mail-ico"></div>
                    </div>
                    <form method="post" class="invite-form" action="profile.html" >
                        <p class="inp-block-title">Signup code</p>
                        <div class="inp-block">
                            <input type="text" name="fiendsEmail" id="fiendsEmail" />
                            <label for="fiendsEmail">Email (multiple comma separated)</label>
                        </div>

                        <div class="inp-block">
                            <div class="sbm-block">
                                <button type="submit">Invite Friends</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>