<div class="popup" id="membership">
    <button class="popup-close" type="button">Close</button>
    <div class="popup-bg"></div>
    <div class="popup-scroll">
        <div class="popup-inner">
            <div class="membership-block">
                <div class="title">Choose Membership - Imusify</div>
                <div class="memb-options">
                    <div class="memb-opt">
                        <p class="memb-opt-name">Premium</p>
                        <p class="memb-opt-price">&#8364; 3</p>
                        <button class="memb-opt-btn">Buy Now</button>
                    </div>
                    <div class="memb-opt">
                        <p class="memb-opt-name">Basic</p>
                        <p class="memb-opt-price">&#8364; 1</p>
                        <button class="memb-opt-btn">Buy Now</button>
                    </div>
                    <div class="memb-opt">
                        <p class="memb-opt-name">Freemium</p>
                        <p class="memb-opt-price">&#8364; 0</p>
                        <button class="memb-opt-btn">FREE</button>
                    </div>
                </div>
                <div class="membership-table">
                    <div class="tbody">
                        <div class="tr">
                            <div class="td">Space Allowed</div>
                            <div class="td">Unlimited</div>
                            <div class="td">5.0GB</div>
                            <div class="td">1.0GB</div>
                        </div>
                        <div class="tr">
                            <div class="td">Message Allowed</div>
                            <div class="td yes"></div>
                            <div class="td yes"></div>
                            <div class="td yes"></div>
                        </div>
                        <div class="tr">
                            <div class="td">Frontpage Display?</div>
                            <div class="td yes"></div>
                            <div class="td yes"></div>
                            <div class="td yes"></div>
                        </div>
                        <div class="tr">
                            <div class="td">MP3 Imusify get %</div>
                            <div class="td">0</div>
                            <div class="td">10</div>
                            <div class="td">20</div>
                        </div>
                        <div class="tr">
                            <div class="td">MP3 you get %</div>
                            <div class="td">100</div>
                            <div class="td">90</div>
                            <div class="td">80</div>
                        </div>
                        <div class="tr">
                            <div class="td">Licence Imusify get %</div>
                            <div class="td">30</div>
                            <div class="td">40</div>
                            <div class="td">50</div>
                        </div>
                        <div class="tr">
                            <div class="td">Licence you get %</div>
                            <div class="td">70</div>
                            <div class="td">60</div>
                            <div class="td">50</div>
                        </div>
                        <div class="tr">
                            <div class="td">Vote on features?</div>
                            <div class="td yes"></div>
                            <div class="td yes"></div>
                            <div class="td yes"></div>
                        </div>
                        <div class="tr">
                            <div class="td">Stats Display?</div>
                            <div class="td yes"></div>
                            <div class="td yes"></div>
                            <div class="td no"></div>
                        </div>
                        <div class="tr">
                            <div class="td">Widget allowed?</div>
                            <div class="td yes"></div>
                            <div class="td yes"></div>
                            <div class="td yes"></div>
                        </div>
                        <div class="tr">
                            <div class="td">ads display?</div>
                            <div class="td yes"></div>
                            <div class="td yes"></div>
                            <div class="td yes"></div>
                        </div>
                        <div class="tr">
                            <div class="td">aiff/wav allowed?</div>
                            <div class="td yes"></div>
                            <div class="td yes"></div>
                            <div class="td no"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>