<div id="menu">
    <div class="menu-bg" style="background-image: url('images/bigProfile.jpg');"></div>
    <header>
        <a href="index.html" class="head-logo">Logo</a>
        <span class="head-info">SELL YOUR MUSIC</span>
    </header>
    <div class="menu-inn">
        <div class="profile">
            <a class="prof-link" href="profile.html">
                <div class="img-box">
                    <img src="./img/profile-icons/avatar.png" class="prof-img" alt=""/>
                    <i><span class="prof-status online" data-status="current"></span></i>
                    <span class="prof-status edit" data-status="edit"></span>
                    <div class="prof-status-opt">
                        <ul class="prof-status-list">
                            <li class="prof-status online" data-status="selected"><span>Online</span></li>
                            <li class="prof-status offline" data-status="selected"><span>Offline</span></li>
                            <li class="prof-status away" data-status="selected"><span>Away</span></li>
                        </ul>
                    </div>
                </div>
                <div class="prof-user"><span>Öncel</span></div>
            </a>
            <ul class="prof-notes">
                <li class="prof-note"><a href="#messaging" class="note-link email-ico" title="email"></a><span class="note-number">2</span></li>
                <li class="prof-note"><a href="notifications.html" class="nav-one note-link alert-ico" title="notifications"></a><span class="note-number">16</span></li>
                <li class="prof-note">
                    <a href="#" class="note-link settings-ico" title="settings"></a>
                    <div class="popover top">
                        <div class="inner">
                            <ul class="inn-list">
                                <li>
                                    <a href="account.html"><span>Account</span></a>
                                </li>
                                <li>
                                    <a href="#editProPopup" data-type="popup"><span>Edit Profile</span></a>
                                </li>
                                <li>
                                    <a href="upload.html"><span>Edit Tracks</span></a>
                                </li>
                                <li>
                                    <a href="upload.html"><span>Upload Track</span></a>
                                </li>
                                <li>
                                    <a href="#roles" data-type="popup"><span>Roles</span></a>
                                </li>
                                <li>
                                    <a href="#membership" data-type="popup"><span>Membership</span></a>
                                </li>
                                <li>
                                    <a href="#"><span>Apply Gift Coupon</span></a>
                                </li>
                                <li>
                                    <a href="#inviteFriends" data-type="popup"><span>Invite Friends</span></a>
                                </li>
                                <li>
                                    <a href="index.html"><span>Sign Out</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <nav class="menu-nav">
            <a href="index.html" class="nav-one active">
                <i class="ic-home"></i>
                <span>Home</span>
            </a>
            <a href="browse.html" class="nav-one">
                <i class="ic-browse"></i>
                <span>Browse</span>
            </a>
            <a href="playlist.html" class="nav-one">
                <i class="ic-playlist"></i>
                <span>Playlist</span>
            </a>
            <a href="upload.html" class="nav-one">
                <i class="ic-upload"></i>
                <span>Upload</span>
            </a>
            <a href="favorites.html" class="nav-one">
                <i class="ic-like"></i>
                <span>Favorites</span>
            </a>
        </nav>

    </div>
    <footer>
        <div class="foot-links">
            <a href="#aboutPopup" data-type="popup">About</a>
            |
            <a href="#">Privacy Policy</a>
            |
            <a href="statics.html">Legal</a>
        </div>
        <div class="foot-copy">Copyright © 2014 imusify <br>All rights reserved</div>
    </footer>
</div>
