<div id="menu">
    <div class="menu-bg" style="background-image: url('images/bigProfile.jpg');"></div>
    <header>
        <a href="index.html" class="head-logo">Logo</a>
        <span class="head-info">SELL YOUR MUSIC</span>
    </header>
    <div class="menu-inn">
        <div class="profile sign">
            <a href="#signUpPopup" class="sign-btn" data-type="popup">Sign up</a>
            <a href="#signInPopup" class="sign-btn" data-type="popup">Sign in</a>
        </div>

        <nav class="menu-nav">
            <a href="index.html" class="nav-one active">
                <i class="ic-home"></i>
                <span>Home</span>
            </a>
            <a href="browse.html" class="nav-one">
                <i class="ic-browse"></i>
                <span>Browse</span>
            </a>
            <a href="playlist.html" class="nav-one">
                <i class="ic-playlist"></i>
                <span>Playlist</span>
            </a>
        </nav>

    </div>
    <footer>
        <div class="foot-links">
            <a href="#aboutPopup" data-type="popup">About</a>
            |
            <a href="#">Privacy Policy</a>
            |
            <a href="statics.html">Legal</a>
        </div>
        <div class="foot-copy">Copyright © 2014 imusify <br>All rights reserved</div>
    </footer>
</div>