<div id="messaging">
    <button class="popup-close" type="button">close</button>
    <div class="plst-top-bg" style="background-image: url('./img/profile-icons/avatar.png');"></div>
    <div class="inner-scroll notifications-inner">
        <div class="tit-playlist">
            <span>Your messages</span>
        </div>

        <div class="foll-left foll-comments">
            <div class="one-mess">
                <div class="foll-comm-one follow-one">
                    <a href="profile.html" class="name">
                        <div class="img-box">
                            <img src="images/peoples/4.jpg" class="img" alt=""/>
                            <i><span class="prof-status online"></span></i>
                        </div>
                        <span class="prof-name">İrem Karasüleymanoğlu</span>
                    </a>
                    <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</div>
                    <div class="time">25 minutes ago</div>
                    <button class="notes-close" type="button">close</button>
                </div>
            </div>
            <div class="one-mess">
                <div class="foll-comm-one follow-one">
                    <a href="profile.html" class="name">
                        <div class="img-box">
                            <img src="images/peoples/4.jpg" class="img" alt=""/>
                            <i><span class="prof-status offline"></span></i>
                        </div>
                        <span class="prof-name">İrem Karasüleymanoğlu</span>
                    </a>
                    <div class="mess">Lorem ipsum dolor sit amet</div>
                    <div class="mess">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</div>
                    <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</div>
                    <div class="time">18 minutes ago</div>
                    <button class="notes-close" type="button">close</button>
                </div>
            </div>
            <div class="one-mess from-me">
                <div class="foll-comm-one follow-one">
                    <a href="profile.html" class="name">
                        <div class="img-box">
                            <img src="./img/profile-icons/avatar.png" class="img" alt=""/>
                            <i><span class="prof-status offline"></span></i>
                        </div>
                        <span class="prof-name">Me</span>
                    </a>
                    <div class="mess">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                    <div class="time">7 minutes ago</div>
                    <button class="notes-close" type="button">close</button>
                </div>
            </div>
            <div class="one-mess">
                <div class="foll-comm-one follow-one">
                    <a href="profile.html" class="name">
                        <div class="img-box">
                            <img src="images/peoples/4.jpg" class="img" alt=""/>
                            <i><span class="prof-status away"></span></i>
                        </div>
                        <span class="prof-name">İrem Karasüleymanoğlu</span>
                    </a>
                    <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</div>
                    <div class="time">6 minutes ago</div>
                    <button class="notes-close" type="button">close</button>
                </div>
            </div>
            <div class="one-mess">
                <div class="foll-comm-one follow-one">
                    <a href="profile.html" class="name">
                        <div class="img-box">
                            <img src="images/peoples/4.jpg" class="img" alt=""/>
                            <i><span class="prof-status online"></span></i>
                        </div>
                        <span class="prof-name">İrem Karasüleymanoğlu</span>
                    </a>
                    <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consectetur doloremque eveniet fugiat fugit, hic labore magni, minima minus numquam quam quas quibusdam quis quos rem suscipit vel voluptate voluptatem?</div>
                    <div class="time">6 minutes ago</div>
                    <button class="notes-close" type="button">close</button>
                </div>
            </div>
            <div class="one-mess from-me">
                <div class="foll-comm-one follow-one">
                    <a href="profile.html" class="name">
                        <div class="img-box">
                            <img src="./img/profile-icons/avatar.png" class="img" alt=""/>
                            <i><span class="prof-status online"></span></i>
                        </div>
                        <span class="prof-name">Me</span>
                    </a>
                    <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolores facere mollitia! Asperiores laborum provident saepe unde? Autem, cupiditate dolores eius, illum incidunt ipsum laborum nobis, nulla quisquam quo sunt.</div>
                    <div class="time">5 minutes ago</div>
                    <button class="notes-close" type="button">close</button>
                </div>
            </div>
            <div class="one-mess from-me">
                <div class="foll-comm-one follow-one">
                    <a href="profile.html" class="name">
                        <div class="img-box">
                            <img src="./img/profile-icons/avatar.png" class="img" alt=""/>
                            <i><span class="prof-status online"></span></i>
                        </div>
                        <span class="prof-name">Me</span>
                    </a>
                    <div class="mess">Asperiores laborum provident saepe unde?</div>
                    <div class="time">4 minutes ago</div>
                    <button class="notes-close" type="button">close</button>
                </div>
            </div>

        </div>
        <form action="#" class="add-new-message">
            <textarea name="add-message" id="" cols="30" rows="10"></textarea>
            <button type="submit">Send</button>
            <div class="emoji-wrap">
                <button class="emoji" type="button"></button>
                <div class="emoji-popup"></div>
            </div>
        </form>

        <div class="foll-right foll-r-one">
            <div class="r-one-top">
                <span>Select dialog</span>
            </div>
            <div class="r-one-body">
                <div class="peop-one active">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/5.jpg" alt=""/>
                            <i><span class="prof-status online"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
                <div class="peop-one">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/6.jpg" alt=""/>
                            <i><span class="prof-status offline"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
                <div class="peop-one">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/7.jpg" alt=""/>
                            <i><span class="prof-status away"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
                <div class="peop-one">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/8.jpg" alt=""/>
                            <i><span class="prof-status offline"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
                <div class="peop-one">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/5.jpg" alt=""/>
                            <i><span class="prof-status online"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
                <div class="peop-one">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/6.jpg" alt=""/>
                            <i><span class="prof-status online"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
                <div class="peop-one">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/7.jpg" alt=""/>
                            <i><span class="prof-status away"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
                <div class="peop-one">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/8.jpg" alt=""/>
                            <i><span class="prof-status offline"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
                <div class="peop-one">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/5.jpg" alt=""/>
                            <i><span class="prof-status offline"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
                <div class="peop-one">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/6.jpg" alt=""/>
                            <i><span class="prof-status online"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
                <div class="peop-one">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/7.jpg" alt=""/>
                            <i><span class="prof-status away"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
                <div class="peop-one">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/8.jpg" alt=""/>
                            <i><span class="prof-status offline"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
                <div class="peop-one">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/5.jpg" alt=""/>
                            <i><span class="prof-status away"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
                <div class="peop-one">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/6.jpg" alt=""/>
                            <i><span class="prof-status online"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
                <div class="peop-one">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/7.jpg" alt=""/>
                            <i><span class="prof-status online"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
                <div class="peop-one">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/8.jpg" alt=""/>
                            <i><span class="prof-status offline"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
                <div class="peop-one">
                    <a href="profile.html" class="img">
                        <div class="img-box">
                            <img src="images/peoples/5.jpg" alt=""/>
                            <i><span class="prof-status offline"></span></i>
                        </div>
                    </a>
                    <a href="profile.html" class="name"><span>Rana Onan</span></a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="messaging-after"></div>

