<div class="popup" id="newsPopup">
    <button class="popup-close" type="button">Close</button>
    <div class="popup-bg"></div>
    <div class="popup-scroll">
        <div class="scroll-bg"></div>
        <div class="popup-inner news-inn">

            <div class="news-title">
                <div class="img" style="background-image:url(images/news/1.jpg);">
                <img src="images/news/1.jpg" alt=""/>
                </div>
                <div class="date">12 OCTOBER 2015</div>
                <div class="name">JOHN DOE</div>
                <div class="title">Secrets of Music</div>
            </div>

            <div class="news-block">

                <div class="news-desc">
                    <div class="share-block">
                        <a href="#" class="share-one sh-fb"></a>
                        <a href="#" class="share-one sh-tw"></a>
                        <a href="#" class="share-one sh-gp"></a>
                        <a href="#" class="share-one sh-in"></a>
                    </div>
                    <div class="desc-prev">
                        Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.
                    </div>
                    <div class="desc-text">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis distinctio dolore laboriosam minus possimus praesentium provident repellendus sunt temporibus voluptatibus. Eaque fuga ipsa natus reiciendis? Modi necessitatibus quo voluptas? Exercitationem!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cupiditate esse iure, porro possimus ullam veniam! A architecto at deserunt enim, excepturi fugiat, illum nobis odit quasi temporibus velit voluptate.</p>
                    </div>
                </div>

                <div class="news-right">
                    <div class="other-tit">OTHER ARTICLES</div>
                    <div class="other-list">
                        <a href="#" class="other-one">
                            <img src="images/news/2.jpg" alt=""/>
                            <div class="subtit">JOHN DOE shared an article</div>
                            <div class="title">Secrets of Music</div>
                        </a>
                        <a href="#" class="other-one">
                            <img src="images/news/3.jpg" alt=""/>
                            <div class="subtit">JOHN DOE shared an article</div>
                            <div class="title">Secrets of Music</div>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>