<div id="notifications">
    <button class="popup-close" type="button">close</button>
    <div class="plst-top-bg" style="background-image: url('./images/profile/notifications-bg.jpg');"></div>
    <div class="tit-playlist">
        <span>Your Notifications</span>
    </div>
    <div class="inner-scroll notifications-inner">

        <div class="foll-left">
            <div class="follow-one">
                <div class="foll-top">
                    <div class="user">
                        <a href="profile.html" class="user-img">
                            <div class="img-box">
                                <img src="images/peoples/1.jpg" class="img" alt=""/>
                                <i><span class="prof-status online"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="user-name"><span>Rana Onan</span></a>
                    </div>
                    <div class="foll-tit">Finished new track!</div>
                    <div class="foll-time">1 hour ago</div>
                    <button class="notes-close" type="button">close</button>
                </div>
            </div>
            <div class="follow-one">
                <div class="foll-top">
                    <div class="user">
                        <a href="profile.html" class="user-img">
                            <div class="img-box">
                                <img src="images/peoples/3.jpg" class="img" alt=""/>
                                <i><span class="prof-status offline"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="user-name"><span>İrem Karasüleymanoğlu</span></a>
                    </div>
                    <div class="foll-tit">Left a reply to: <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</span></div>
                    <div class="foll-time">2 hours ago</div>
                    <button class="notes-close" type="button">close</button>
                </div>
            </div>
            <div class="follow-one">
                <div class="foll-top">
                    <div class="user">
                        <a href="profile.html" class="user-img">
                            <div class="img-box">
                                <img src="images/peoples/8.jpg" class="img" alt=""/>
                                <i><span class="prof-status online"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="user-name"><span>Jane Mckinley</span></a>
                    </div>
                    <div class="foll-tit">Reposted your track!</div>
                    <div class="foll-time">3 hours ago</div>
                    <button class="notes-close" type="button">close</button>
                </div>
            </div>
            <div class="follow-one">
                <div class="foll-top">
                    <div class="user">
                        <a href="profile.html" class="user-img">
                            <div class="img-box">
                                <img src="images/peoples/7.jpg" class="img" alt=""/>
                                <i><span class="prof-status away"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="user-name"><span>Joe Callahan</span></a>
                    </div>
                    <div class="foll-tit">Send you a message!</div>
                    <div class="foll-time">4 hours ago</div>
                    <button class="notes-close" type="button">close</button>
                </div>
            </div>
            <div class="follow-one">
                <div class="foll-top">
                    <div class="user">
                        <a href="profile.html" class="user-img">
                            <div class="img-box">
                                <img src="images/peoples/6.jpg" class="img" alt=""/>
                                <i><span class="prof-status online"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="user-name"><span>Nikki Reed</span></a>
                    </div>
                    <div class="foll-tit">Liked your comment: <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</span></div>
                    <div class="foll-time">5 hours ago</div>
                    <button class="notes-close" type="button">close</button>
                </div>
            </div>
            <div class="follow-one">
                <div class="foll-top">
                    <div class="user">
                        <a href="profile.html" class="user-img">
                            <div class="img-box">
                                <img src="images/peoples/1.jpg" class="img" alt=""/>
                                <i><span class="prof-status online"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="user-name"><span>Rana Onan</span></a>
                    </div>
                    <div class="foll-tit">Finished new track!</div>
                    <div class="foll-time">1 hour ago</div>
                    <button class="notes-close" type="button">close</button>
                </div>
            </div>
            <div class="follow-one">
                <div class="foll-top">
                    <div class="user">
                        <a href="profile.html" class="user-img">
                            <div class="img-box">
                                <img src="images/peoples/3.jpg" class="img" alt=""/>
                                <i><span class="prof-status away"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="user-name"><span>İrem Karasüleymanoğlu</span></a>
                    </div>
                    <div class="foll-tit">Left a reply to: <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</span></div>
                    <div class="foll-time">2 hours ago</div>
                    <button class="notes-close" type="button">close</button>
                </div>
            </div>
            <div class="follow-one">
                <div class="foll-top">
                    <div class="user">
                        <a href="profile.html" class="user-img">
                            <div class="img-box">
                                <img src="images/peoples/8.jpg" class="img" alt=""/>
                                <i><span class="prof-status offline"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="user-name"><span>Jane Mckinley</span></a>
                    </div>
                    <div class="foll-tit">Reposted your track!</div>
                    <div class="foll-time">3 hours ago</div>
                    <button class="notes-close" type="button">close</button>
                </div>
            </div>
        </div>

        <div class="foll-right">
            <div class="foll-r-one">
                <div class="r-one-top">
                    <span>Recent followers</span>
                </div>
                <div class="r-one-body">
                    <div class="peop-one">
                        <a href="profile.html" class="img">
                            <div class="img-box">
                                <img src="images/peoples/5.jpg" class="img" alt=""/>
                                <i><span class="prof-status online"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="name"><span>Rana Onan</span></a>
                        <button type="button" class="peop-foll-btn">Follow back</button>
                    </div>
                    <div class="peop-one">
                        <a href="profile.html" class="img">
                            <div class="img-box">
                                <img src="images/peoples/6.jpg" class="img" alt=""/>
                                <i><span class="prof-status online"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="name"><span>Rana Onan</span></a>
                        <button type="button" class="peop-foll-btn">Follow back</button>
                    </div>
                    <div class="peop-one">
                        <a href="profile.html" class="img">
                            <div class="img-box">
                                <img src="images/peoples/7.jpg" class="img" alt=""/>
                                <i><span class="prof-status away"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="name"><span>Rana Onan</span></a>
                        <button type="button" class="peop-foll-btn">Follow back</button>
                    </div>
                    <div class="peop-one">
                        <a href="profile.html" class="img">
                            <div class="img-box">
                                <img src="images/peoples/8.jpg" class="img" alt=""/>
                                <i><span class="prof-status online"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="name"><span>Rana Onan</span></a>
                        <button type="button" class="peop-foll-btn">Follow back</button>
                    </div>
                    <div class="peop-one">
                        <a href="profile.html" class="img">
                            <div class="img-box">
                                <img src="images/peoples/5.jpg" class="img" alt=""/>
                                <i><span class="prof-status offline"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="name"><span>Rana Onan</span></a>
                        <button type="button" class="peop-foll-btn">Follow back</button>
                    </div>
                    <div class="peop-one">
                        <a href="profile.html" class="img">
                            <div class="img-box">
                                <img src="images/peoples/5.jpg" class="img" alt=""/>
                                <i><span class="prof-status online"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="name"><span>Rana Onan</span></a>
                        <button type="button" class="peop-foll-btn">Follow back</button>
                    </div>
                    <div class="peop-one">
                        <a href="profile.html" class="img">
                            <div class="img-box">
                                <img src="images/peoples/6.jpg" class="img" alt=""/>
                                <i><span class="prof-status online"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="name"><span>Rana Onan</span></a>
                        <button type="button" class="peop-foll-btn">Follow back</button>
                    </div>
                    <div class="peop-one">
                        <a href="profile.html" class="img">
                            <div class="img-box">
                                <img src="images/peoples/7.jpg" class="img" alt=""/>
                                <i><span class="prof-status away"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="name"><span>Rana Onan</span></a>
                        <button type="button" class="peop-foll-btn">Follow back</button>
                    </div>
                    <div class="peop-one">
                        <a href="profile.html" class="img">
                            <div class="img-box">
                                <img src="images/peoples/8.jpg" class="img" alt=""/>
                                <i><span class="prof-status online"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="name"><span>Rana Onan</span></a>
                        <button type="button" class="peop-foll-btn">Follow back</button>
                    </div>
                    <div class="peop-one">
                        <a href="profile.html" class="img">
                            <div class="img-box">
                                <img src="images/peoples/5.jpg" class="img" alt=""/>
                                <i><span class="prof-status offline"></span></i>
                            </div>
                        </a>
                        <a href="profile.html" class="name"><span>Rana Onan</span></a>
                        <button type="button" class="peop-foll-btn">Follow back</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="notifications-after"></div>

