<div style="float: left; margin-right: 100px;">
    <table class="song-table artists">
        <thead>
        <tr>
            <th>Song</th>
            <th>Artists</th>
        </tr>
        </thead>
        <tbody>
        <tr class="active">
            <td>Border</td>
            <td>Come Again</td>
        </tr>
        <tr>
            <td>A Sky Full Of Stars</td>
            <td>Coldplay</td>
        </tr>
        <tr>
            <td>Problem</td>
            <td>Arianna Grade</td>
        </tr>
        <tr>
            <td>Summer</td>
            <td>Calvin Harris</td>
        </tr>
        <tr>
            <td>Falling for You</td>
            <td>The 1975</td>
        </tr>
        <tr>
            <td>Sing</td>
            <td>The 1975</td>
        </tr>
        <tr>
            <td>Fancy</td>
            <td>Ed Sheeran</td>
        </tr>
        <tr>
            <td>Falling for You</td>
            <td>The 1975</td>
        </tr>
        <tr>
            <td>Sing</td>
            <td>The 1975</td>
        </tr>
        <tr>
            <td>Fancy</td>
            <td>Ed Sheeran</td>
        </tr>
        <tbody>
    </table>
</div>


<!--&lt;!&ndash;Mega toolip&ndash;&gt;-->

<!--<div class="m-toolip">-->
    <!--&lt;!&ndash;Popular&ndash;&gt;-->
    <!--<div class="m-toolip-item popular">-->
        <!--<p class="m-toolip-title">Popular</p>-->
        <!--<ul class="m-toolip-list">-->
            <!--<li class="popular-item"><a href="#">Untitled Groove</a></li>-->
            <!--<li class="popular-item"><a href="#">Best Playlist</a></li>-->
            <!--<li class="popular-item"><a href="#">Chill Out</a></li>-->
            <!--<li class="popular-item"><a href="#">Groove Days</a></li>-->
            <!--<li class="popular-item"><a href="#">R&B and Soul</a></li>-->
            <!--<li class="popular-item"><a href="#">Oldies But Goldies</a></li>-->
            <!--<li class="popular-item"><a href="#">Beautiful Morning Beautiful Morning</a></li>-->
            <!--<li class="popular-item"><a href="#">Goodnight Kiss</a></li>-->
            <!--<li class="popular-item"><a href="#">Chill Bill</a></li>-->
            <!--<li class="popular-item"><a href="#">Wake Up</a></li>-->
        <!--</ul>-->
    <!--</div>-->

    <!--&lt;!&ndash;Alphabetical&ndash;&gt;-->
    <!--<div class="m-toolip-item abc">-->
        <!--<p class="m-toolip-title">Alphabetical</p>-->
        <!--<ul class="m-toolip-list">-->
            <!--<li class="abc-item">-->
                <!--<p class="abc-character a" >A</p>-->
                <!--<a href="#">Alice in Wonderland</a>-->
                <!--<a href="#">Atlantis’s Edge</a>-->
            <!--</li>-->
        <!--<li class="abc-item">-->
            <!--<p class="abc-character b">B</p>-->
            <!--<a href="#">Beautiful Morning </a>-->
            <!--<a href="#">Best Playlist</a>-->
        <!--</li>-->
        <!--<li class="abc-item">-->
            <!--<p class="abc-character c">C</p>-->
            <!--<a href="#">Chill Out</a>-->
        <!--</li>-->
        <!--<li class="abc-item">-->
            <!--<p class="abc-character d">D</p>-->
            <!--<a href="#">Desiigner</a>-->
        <!--</li>-->
    <!--</div>-->
<!--</div>-->

<!--Tag-->
<div style="width: 200px; height: 50px; display: flex; justify-content: space-between; margin: 50px; 0">
    <button class="tag">Indie</button>
    <button class="tag active">Indie</button>
</div>

<!--Vocals & Loop: hover, active-->
<div style="display: flex; flex-wrap: wrap; justify-content: flex-end; width: 130px; height: 200px;">
    <!--Vocals-->
    <div class="vocals">
        <p class="vocals-title">Vocals</p>
        <button class="vocals-btn">Off</button>
    </div>

    <!--Loop-->
    <div class="loop">
        <p class="loop-title">Loop</p>
        <button class="loop-btn">Off</button>
    </div>

    <!--Vocals & Loop active-->
    <div class="vocals active">
        <p class="vocals-title">Vocals</p>
        <button class="vocals-btn">On</button>
    </div>

    <div class="loop active">
        <p class="loop-title">Loop</p>
        <button class="loop-btn">On</button>
    </div>

</div>



<!--Dropdown-->
<div style="width: 200px; height: 200px; margin: 20px; 0">

    <!--Normal & Hover-->
    <div class="dropdown">
        <span class="dropdown-title">Genre</span>
        <button class="dropdown-btn"></button>
        <div class="dropdown-list"></div>
    </div>

        <!--Pressed & Active-->
    <div class="dropdown active">
        <span class="dropdown-title">Genre</span>
        <button class="dropdown-btn"></button>
        <div class="dropdown-list"></div>
    </div>
</div>



