<!--Normal & Hover-->
<div class="big-block">
    <div class="big-top">
        <div class="prev-block">
            <a href="#" class="top-one">
                <img src="images/feed-boxes/thumbs/2.jpg" alt=""/>
            </a>
            <a href="#" class="top-one">
                <img src="images/feed-boxes/thumbs/3.jpg" alt=""/>
            </a>
            <a href="#" class="top-one">
                <img src="images/feed-boxes/thumbs/4.jpg" alt=""/>
            </a>
        </div>
        <div class="curr-block">
            <a href="#" class="top-one">
                <img src="images/feed-boxes/thumbs/1.jpg" alt=""/>
            </a>
        </div>
        <div class="next-block">
            <a href="#" class="top-one">
                <img src="images/feed-boxes/thumbs/5.jpg" alt=""/>
            </a>
            <a href="#" class="top-one">
                <img src="images/feed-boxes/thumbs/6.jpg" alt=""/>
            </a>
            <a href="#" class="top-one">
                <img src="images/feed-boxes/thumbs/7.jpg" alt=""/>
            </a>
        </div>
    </div>
    <div class="big-bot">
        <div class="track-info">
            <div class="info-left">
                <img src="images/pl-img.png" alt=""/>
            </div>
            <div class="info-right">
                <a class="title" href="#"><span>Border</span></a>
                <a class="subtitle" href="#"><span>Come Again</span></a>
            </div>
        </div>
        <div class="controls">
            <button type="button" class="ctrl-btn btn-backwards" title="Fast backwards"></button>
            <button type="button" class="ctrl-btn btn-play"></button>
            <button type="button" class="ctrl-btn btn-forward" title="Fast Forward"></button>
        </div>
    </div>
</div>
<div class="player-bg" style="background-image: url('images/pl-img.png');"></div>
<div class="player-inner">
    <div class="track-info">
        <div class="info-left">
            <img src="images/pl-img.png" alt=""/>
        </div>
        <div class="info-right">
            <a class="title" href="#"><span>Border</span></a>
            <a class="subtitle" href="#"><span>Come Again</span></a>
        </div>
    </div>

    <div class="player-center">
        <div class="controls">
            <button type="button" class="ctrl-btn btn-backwards" title="Fast backwards"></button>
            <button type="button" class="ctrl-btn btn-play"></button>
            <button type="button" class="ctrl-btn btn-forward" title="Fast Forward"></button>
        </div>

        <div class="play-time">
            <span class="time-passed">1:59</span>
            <div class="timeline"></div>
            <span class="duration">4:48</span>
        </div>

        <div class="play-type">
            <button type="button" class="ctrl-btn btn-shuffle" title="Shuffle"></button>
            <button type="button" class="ctrl-btn btn-repeat" title="Repeat indefinitely"></button>
        </div>
    </div>

    <div class="player-queue">
        <button type="button" class="ctrl-btn btn-queue" title="Show Queue"></button>
        <button type="button" class="ctrl-btn btn-plus" title="Open big"></button>
    </div>
</div>
