<div id="playlist">
    <div class="plst-top-bg" style="background-image: url('./images/profile/vinil-face1.jpg');"></div>
    <button class="popup-close" type="button">close</button>
    <div class="tit-playlist">
        <span>Your Playlist</span>
        <button type="button" class="tit-btn-plst"><i></i><span>Add new playlist</span></button>
    </div>
    <div class="inner">
        <div class="wrap-playlist">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="./images/feed-boxes/featured-track-bg.jpg" alt=""/>
                            <div class="vinyl">
                                <button class="box-btn play" title="play"></button>
                            </div>
                        </div>
                        <div class="name">Untitled Groove</div>
                        <span class="tulip-ico"></span>
                        <ul class="info">
                            <li>127 Tracks</li>
                            <li>89 Followers</li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="./images/profile/vinil-face1.jpg" alt=""/>
                            <div class="vinyl">
                                <button class="box-btn play" title="play"></button>
                            </div>
                        </div>
                        <div class="name">Untitled Groove</div>
                        <span class="tulip-ico"></span>
                        <ul class="info">
                            <li>127 Tracks</li>
                            <li>89 Followers</li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="./images/feed-boxes/2.jpg" alt=""/>
                            <div class="vinyl">
                                <button class="box-btn play" title="play"></button>
                            </div>
                        </div>
                        <div class="name">Untitled Groove</div>
                        <span class="tulip-ico"></span>
                        <ul class="info">
                            <li>127 Tracks</li>
                            <li>89 Followers</li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="./images/feed-boxes/3.jpg" alt=""/>
                            <div class="vinyl">
                                <button class="box-btn play" title="play"></button>
                            </div>
                        </div>
                        <div class="name">Untitled Groove</div>
                        <span class="tulip-ico"></span>
                        <ul class="info">
                            <li>127 Tracks</li>
                            <li>89 Followers</li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="./images/feed-boxes/4.jpg" alt=""/>
                            <div class="vinyl">
                                <button class="box-btn play" title="play"></button>
                            </div>
                        </div>
                        <div class="name">Untitled Groove</div>
                        <span class="tulip-ico"></span>
                        <ul class="info">
                            <li>127 Tracks</li>
                            <li>89 Followers</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="icons-wrap">
            <a href="#" class="note-link settings-ico" title="settings"></a>
            <i class="sep"></i>
            <a href="#" class="note-link ghost-ico" title="notification"></a>
            <span class="ico-right">1.487 Likes</span>
        </div>

        <div class="song-flex-table playlist">
            <div class="thead">
                <div class="th">#</div>
                <div class="th">Track</div>
                <div class="th">Artist</div>
                <div class="th">Album</div>
                <div class="th ico-time"></div>
            </div>
            <div class="tbody">
                <div class="tr">
                    <div class="td td-id">
                        <span>1</span>
                        <button class="box-btn play" title="play"></button>
                    </div>
                    <div class="td">Not a Bad Thing</div>
                    <div class="td">Justin Timberlake</div>
                    <div class="td">Not a Bad Thing</div>
                    <div class="td">4:42</div>
                </div>
                <div class="tr">
                    <div class="td td-id">
                        <span>2</span>
                        <button class="box-btn play" title="play"></button>
                    </div>
                    <div class="td">A Sky Full Of Stars</div>
                    <div class="td">Coldplay</div>
                    <div class="td">A Sky Full Of Stars</div>
                    <div class="td">3:34</div>
                </div>
                <div class="tr">
                    <div class="td td-id">
                        <span>3</span>
                        <button class="box-btn play" title="play"></button>
                    </div>
                    <div class="td">Problem</div>
                    <div class="td">Arianna Grande - Iggy Azalea</div>
                    <div class="td">Problem</div>
                    <div class="td">5:12</div>
                </div>
                <div class="tr">
                    <div class="td td-id">
                        <span>4</span>
                        <button class="box-btn play" title="play"></button>
                    </div>
                    <div class="td">Summer</div>
                    <div class="td">Calvin Harris</div>
                    <div class="td">Summer</div>
                    <div class="td">4:53</div>
                </div>
                <div class="tr">
                    <div class="td td-id">
                        <span>5</span>
                        <button class="box-btn play" title="play"></button>
                    </div>
                    <div class="td">Falling For You</div>
                    <div class="td">The 1975</div>
                    <div class="td">The 1975</div>
                    <div class="td">3:58</div>
                </div>
                <div class="tr">
                    <div class="td td-id">
                        <span>6</span>
                        <button class="box-btn play" title="play"></button>
                    </div>
                    <div class="td">Sing</div>
                    <div class="td">The 1975</div>
                    <div class="td">The 1975</div>
                    <div class="td">12:27</div>
                </div>
                <div class="tr">
                    <div class="td td-id">
                        <span>7</span>
                        <button class="box-btn play" title="play"></button>
                    </div>
                    <div class="td">Not a Bad Thing</div>
                    <div class="td">Justin Timberlake</div>
                    <div class="td">Not a Bad Thing</div>
                    <div class="td">4:42</div>
                </div>
                <div class="tr">
                    <div class="td td-id">
                        <span>8</span>
                        <button class="box-btn play" title="play"></button>
                    </div>
                    <div class="td">A Sky Full Of Stars</div>
                    <div class="td">Coldplay</div>
                    <div class="td">A Sky Full Of Stars</div>
                    <div class="td">3:34</div>
                </div>
                <div class="tr">
                    <div class="td td-id">
                        <span>9</span>
                        <button class="box-btn play" title="play"></button>
                    </div>
                    <div class="td">Problem</div>
                    <div class="td">Arianna Grande - Iggy Azalea</div>
                    <div class="td">Problem</div>
                    <div class="td">5:12</div>
                </div>
                <div class="tr">
                    <div class="td td-id">
                        <span>10</span>
                        <button class="box-btn play" title="play"></button>
                    </div>
                    <div class="td">Summer</div>
                    <div class="td">Calvin Harris</div>
                    <div class="td">Summer</div>
                    <div class="td">4:53</div>
                </div>
                <div class="tr">
                    <div class="td td-id">
                        <span>11</span>
                        <button class="box-btn play" title="play"></button>
                    </div>
                    <div class="td">Falling For You</div>
                    <div class="td">The 1975</div>
                    <div class="td">The 1975</div>
                    <div class="td">3:58</div>
                </div>
                <div class="tr">
                    <div class="td td-id">
                        <span>12</span>
                        <button class="box-btn play" title="play"></button>
                    </div>
                    <div class="td">Sing</div>
                    <div class="td">The 1975</div>
                    <div class="td">The 1975</div>
                    <div class="td">12:27</div>
                </div>
            </div>
        </div>

        <!--Mega toolip-->
        <div class="m-toolip">
            <!--Popular-->
            <div class="m-toolip-item popular">
                <p class="m-toolip-title">Popular</p>
                <ul class="m-toolip-list">
                    <li class="popular-item"><a href="#">Untitled Groove</a></li>
                    <li class="popular-item"><a href="#">Best Playlist</a></li>
                    <li class="popular-item"><a href="#">Chill Out</a></li>
                    <li class="popular-item"><a href="#">Groove Days</a></li>
                    <li class="popular-item"><a href="#">R&B and Soul</a></li>
                    <li class="popular-item"><a href="#">Oldies But Goldies</a></li>
                    <li class="popular-item"><a href="#">Beautiful Morning Beautiful Morning</a></li>
                    <li class="popular-item"><a href="#">Goodnight Kiss</a></li>
                    <li class="popular-item"><a href="#">Chill Bill</a></li>
                    <li class="popular-item"><a href="#">Wake Up</a></li>
                </ul>
            </div>

            <!--Alphabetical-->
            <div class="m-toolip-item abc">
                <p class="m-toolip-title">Alphabetical</p>
                <ul class="m-toolip-list">
                    <li class="abc-item">
                        <p class="abc-character a" >A</p>
                        <a href="#">Alice in Wonderland</a>
                        <a href="#">Atlantis’s Edge</a>
                    </li>
                    <li class="abc-item">
                        <p class="abc-character b">B</p>
                        <a href="#">Beautiful Morning </a>
                        <a href="#">Best Playlist</a>
                    </li>
                    <li class="abc-item">
                        <p class="abc-character c">C</p>
                        <a href="#">Chill Out</a>
                    </li>
                    <li class="abc-item">
                        <p class="abc-character d">D</p>
                        <a href="#">Desiigner</a>
                    </li>
            </div>
        </div>
    </div>
</div>
<div class="playlist-after"></div>