<div class="swiper-slide">
    <div class="img">
        <img src="./images/feed-boxes/featured-track-bg.jpg" alt=""/>
        <div class="vinyl">
            <button class="box-btn play" title="play"></button>
        </div>
    </div>
    <div class="name">Untitled Groove</div>
    <ul class="info">
        <li>127 Songs</li>
        <li>89 Followers</li>
        <li>1.487 Likes</li>
    </ul>
</div>
<div class="swiper-slide">
    <div class="img">
        <img src="./images/profile/vinil-face1.jpg" alt=""/>
        <div class="vinyl">
            <button class="box-btn play" title="play"></button>
        </div>
    </div>
    <div class="name">Untitled Groove</div>
    <ul class="info">
        <li>127 Songs</li>
        <li>89 Followers</li>
        <li>1.487 Likes</li>
    </ul>
</div>
<div class="swiper-slide">
    <div class="img">
        <img src="./images/feed-boxes/2.jpg" alt=""/>
        <div class="vinyl">
            <button class="box-btn play" title="play"></button>
        </div>
    </div>
    <div class="name">Untitled Groove</div>
    <ul class="info">
        <li>127 Songs</li>
        <li>89 Followers</li>
        <li>1.487 Likes</li>
    </ul>
</div>
<div class="swiper-slide">
    <div class="img">
        <img src="./images/feed-boxes/3.jpg" alt=""/>
        <div class="vinyl">
            <button class="box-btn play" title="play"></button>
        </div>
    </div>
    <div class="name">Untitled Groove</div>
    <ul class="info">
        <li>127 Songs</li>
        <li>89 Followers</li>
        <li>1.487 Likes</li>
    </ul>
</div>
<div class="swiper-slide">
    <div class="img">
        <img src="./images/feed-boxes/4.jpg" alt=""/>
        <div class="vinyl">
            <button class="box-btn play" title="play"></button>
        </div>
    </div>
    <div class="name">Untitled Groove</div>
    <ul class="info">
        <li>127 Songs</li>
        <li>89 Followers</li>
        <li>1.487 Likes</li>
    </ul>
</div>