<div class="profile-icons">

    <!--Notification normal (hover & active)-->

    <div class="profile">
        <img class="prof-img" src="./img/profile-icons/avatar.png" alt="">
        <h4 class="prof-user">Öncel</h4>
        <ul class="prof-notes">
            <li class="prof-note"><a href="#" class="note-link email-ico" title="email"></a></li>
            <li class="prof-note"><a href="#" class="note-link alert-ico" title="notification"></a></li>
            <li class="prof-note"><a href="#" class="note-link settings-ico" title="settings"></a></li>
        </ul>
    </div>

    <!--Notfication alert (hover & active)-->

    <div class="profile">
        <img class="prof-img" src="./img/profile-icons/avatar.png" alt="">
        <h4 class="prof-user">Öncel</h4>
        <ul class="prof-notes">
            <li class="prof-note"><a href="#" class="note-link email-ico alert" title="email"><span class="note-number">12</span></a></li>
            <li class="prof-note"><a href="#" class="note-link alert-ico alert" title="notification"><span class="note-number">12</span></a></li>
            <li class="prof-note"><a href="#" class="note-link settings-ico" title="settings"></a></li>
        </ul>
    </div>

    <!--Notfication active -->

    <div class="profile">
        <img class="prof-img" src="./img/profile-icons/avatar.png" alt="">
        <h4 class="prof-user">Öncel</h4>
        <ul class="prof-notes">
            <li class="prof-note"><a href="#" class="note-link email-ico alert active" title="email"><span class="note-number">12</span></a></li>
            <li class="prof-note"><a href="#" class="note-link alert-ico alert active" title="notification"><span class="note-number">12</span></a></li>
            <li class="prof-note"><a href="#" class="note-link settings-ico active" title="settings"></a></li>
        </ul>
    </div>
</div>