<div class="queue-table-wrap">
    <table class="song-table artists">
    <thead>
    <tr>
        <th>Song</th>
        <th>Artists</th>
    </tr>
    </thead>
    <tbody>
    <tr class="active">
        <td>Border</td>
        <td>Come Again</td>
    </tr>
    <tr>
        <td>A Sky Full Of Stars</td>
        <td>Coldplay</td>
    </tr>
    <tr>
        <td>Problem</td>
        <td>Arianna Grade</td>
    </tr>
    <tr>
        <td>Summer</td>
        <td>Calvin Harris</td>
    </tr>
    <tr>
        <td>Falling for You</td>
        <td>The 1975</td>
    </tr>
    <tr>
        <td>Sing</td>
        <td>The 1975</td>
    </tr>
    <tr>
        <td>Fancy</td>
        <td>Ed Sheeran</td>
    </tr>
    <tr>
        <td>Falling for You</td>
        <td>The 1975</td>
    </tr>
    <tr>
        <td>Sing</td>
        <td>The 1975</td>
    </tr>
    <tr>
        <td>Fancy</td>
        <td>Ed Sheeran</td>
    </tr>
    <tbody>
</table>
</div>