<div class="popup" id="roles">
    <button class="popup-close" type="button">Close</button>
    <div class="popup-bg"></div>
    <div class="popup-scroll">
        <div class="popup-inner">

            <div class="roles-block">
                <div class="title">What do you do?</div>
                <div class="roles-inner">
                    <form method="post" class="role-form" action="profile.html" >
                        <div class="inp-block">
                            <label for="artist" class="roles-label">
                                <input type="checkbox" checked name="artist" value="1" id="artist">
                                <i></i>
                                <span>Artist</span>
                            </label>
                        </div>
                        <div class="inp-block">
                            <label for="distributor" class="roles-label">
                                <input type="checkbox" checked name="distributor" value="1" id="distributor">
                                <i></i>
                                <span>Distributor</span>
                            </label>
                        </div>
                        <div class="inp-block">
                            <label for="member" class="roles-label">
                                <input type="checkbox" checked name="member" value="1" id="member">
                                <i></i>
                                <span>Member</span>
                            </label>
                        </div>
                        <div class="inp-block">
                            <label for="musician" class="roles-label">
                                <input type="checkbox" checked name="musician" value="1" id="musician">
                                <i></i>
                                <span>Musician</span>
                            </label>
                        </div>
                        <div class="inp-block">
                            <label for="photographer" class="roles-label">
                                <input type="checkbox" checked name="photographer" value="1" id="photographer">
                                <i></i>
                                <span>Photographer</span>
                            </label>
                        </div>
                        <div class="inp-block">
                            <label for="singer" class="roles-label">
                                <input type="checkbox" checked name="singer" value="1" id="singer">
                                <i></i>
                                <span>Singer</span>
                            </label>
                        </div>
                        <div class="inp-block">
                            <label for="none" class="roles-label">
                                <input type="checkbox" name="none" value="0" id="none">
                                <i></i>
                                <span>None of the above, I just love music</span>
                            </label>
                        </div>
                        <div class="inp-block">
                            <div class="roles-sbm">
                                <button type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>