<div class="popup" id="signUpPopup">
    <button class="popup-close" type="button">Close</button>
    <div class="popup-bg"></div>
    <div class="popup-scroll">
        <div class="scroll-bg"></div>
        <div class="popup-inner">

            <div class="sign-block">
                <div class="title">Join Imusify</div>
                <div class="tit-info">Getting in is easy. Use one of your social networks or start fresh with an email address. Already have an Imusify account? <a href="#">Sign in</a>.</div>
                <div class="social-logins">
                    <a href="#" class="fb soc-login" data-type="fb"><span>Facebook</span></a>
                    <a href="#" class="in soc-login" data-type="in"><span>LinkedIn</span></a>
                    <a href="#" class="sc soc-login" data-type="sc"><span>Souncloud</span></a>
                    <a href="#emailJoin" class="em soc-login" data-type="popup"><span>Mail</span></a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="popup" id="signInPopup">
    <button class="popup-close" type="button">Close</button>
    <div class="popup-bg"></div>
    <div class="popup-scroll">
        <div class="scroll-bg"></div>
        <div class="popup-inner">

            <div class="sign-block">
                <div class="title">Sign in to imusify</div>
                <div class="tit-info">Use Facebook, Linked in, Soundcloud or your email to sign in. Don't have a Imusify account yet? No worries, <a href="#">joining</a> is easy.</div>
                <div class="social-logins">
                    <a href="#" class="fb soc-login" data-type="fb"><span>Facebook</span></a>
                    <a href="#" class="in soc-login" data-type="in"><span>LinkedIn</span</a>
                    <a href="#" class="sc soc-login" data-type="sc"><span>Souncloud</span></a>
                </div>
                <div class="or">Or</div>
                <form method="post" class="sign-form" action="profile.html" >
                    <div class="inp-block">
                        <input type="text" name="username" id="signInName" />
                        <label for="signInName">Email or Username</label>
                    </div>

                    <div class="inp-block">
                        <input type="password" name="password" id="signInPassword" />
                        <label for="signInPassword">Password</label>
                    </div>

                    <label for="signInRemember" class="sign-label">
                        <input type="checkbox" name="rememberme" value="1" id="signInRemember"/>
                        <i></i>
                        <span>Keep me signed in</span>
                    </label>
                    <label for="signIacknowledge" class="sign-label">
                        <input type="checkbox" name="iacknowledge" value="1" id="signIacknowledge"/>
                        <i></i>
                        <span>I acknowledge that I have read and accept the Terms of Use Agreement and consent to the Privacy Policy and Video Privacy Policy.</span>
                    </label>
                    <label for="signSubscribe" class="sign-label">
                        <input type="checkbox" name="subscribe" value="1" id="signSubscribe"/>
                        <i></i>
                        <span>Subscribe to Newsletter</span>
                    </label>

                    <div class="sbm-block">
                        <button type="submit">Sign In</button>
                        <a href="#">Forgot password?</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>