<section class="filters-wrap">

    <h2 class="filters-title">Or specify with filters </h2>

    <div class="dropdowns">
        <select data-placeholder="Genre" class="filter-selection">
            <option></option>
            <option value="1">Some genre looooong option here</option>
            <option value="2">Genre 2</option>
            <option value="3">Genre 3</option>
            <option value="4">Genre 4</option>
            <option value="5">Genre 5</option>
            <option value="2">Genre 6</option>
            <option value="3">Genre 7</option>
            <option value="4">Genre 8</option>
            <option value="5">Genre 9</option>
            <option value="5">Genre 10</option>
        </select>

        <select data-placeholder="Mood" class="filter-selection">
            <option></option>
            <option value="1">Some mood looooong option here</option>
            <option value="2">Mood 2</option>
            <option value="3">Mood 3</option>
            <option value="4">Mood 4</option>
            <option value="5">Mood 5</option>
            <option value="2">Mood 6</option>
            <option value="3">Mood 7</option>
            <option value="4">Mood 8</option>
            <option value="5">Mood 9</option>
            <option value="5">Mood 10</option>
        </select>

        <select data-placeholder="Instruments" class="filter-selection">
            <option></option>
            <option value="1">Some instruments looooong option here</option>
            <option value="2">Instruments 2</option>
            <option value="3">Instruments 3</option>
            <option value="4">Instruments 4</option>
            <option value="5">Instruments 5</option>
            <option value="2">Instruments 6</option>
            <option value="3">Instruments 7</option>
            <option value="4">Instruments 8</option>
            <option value="5">Instruments 9</option>
            <option value="5">Instruments 10</option>
        </select>
    </div>

    <div class="filter-btns">
        <div class="vocals active">
            <p class="vocals-title">Vocals</p>
            <div class="inp-block">
                <label class="toggleLabel" for="toggleVocals">
                    <input type="checkbox" name="vocals" id="toggleVocals">
                    <span class="toggleElement">
                    <i></i>
                    <b class="toggle-on">ON</b>
                    <b class="toggle-off">OFF</b>
                </span>
                </label>
            </div>
        </div>

        <div class="loop">
            <p class="loop-title">Loop</p>
            <div class="inp-block">
                <label class="toggleLabel" for="toggleLoop">
                    <input type="checkbox" name="vocals" id="toggleLoop">
                    <span class="toggleElement">
                    <i></i>
                    <b class="toggle-on">ON</b>
                    <b class="toggle-off">OFF</b>
                </span>
                </label>
            </div>
        </div>
    </div>

     <div class="range">
         <div class="price">
             <p class="price-title">Price</p>
             <div class="price-range">
                 <span id="rangeval">$20 - $85</span>
                 <div id="rangeslider"></div>
                 <span class="price-start">$0</span>
                 <span class="price-end">$100</span>
             </div>
         </div>

         <div class="duration">
             <p class="duration-title">Duration</p>
             <div class="duration-range">
                 <span id="amount">4.20</span>
                 <div id="slider-range-min"></div>
                 <span class="duration-start">0:01</span>
                 <span class="duration-end">5:00+</span>
             </div>
         </div>
     </div>

</section>

