<section class="tags-wrap">
    <h2 class="tags-title">Search with tags</h2>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="text-align: center;">
                <button class="tag">Indie</button>
                <button class="tag">Instrumental</button>
                <button class="tag">Study</button>
                <button class="tag">Chill</button>
                <button class="tag">Dance</button>
                <button class="tag">Rock</button>
                <button class="tag">Summer</button>
                <button class="tag">Sleep</button>
                <button class="tag">Relax</button>
                <button class="tag">Soundtrack</button>
                <button class="tag">Acoustic</button>
            </div>

            <div class="swiper-slide" style="text-align: center;">
                <button class="tag">Study</button>
                <button class="tag">Chill</button>
                <button class="tag">Dance</button>
                <button class="tag">Rock</button>
                <button class="tag">Summer</button>
                <button class="tag">Sleep</button>
                <button class="tag">Relax</button>
                <button class="tag">Soundtrack</button>
                <button class="tag">Acoustic</button>
            </div>
        </div>

    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</section>