<div class="check-left-top">
    <div class="check-prof-info">
        <img class="check-prof-image" src="./images/checkout/1.png" alt=""/>
        <h2 class="check-prof-name">
            Trentemoller <span>Norway</span>
        </h2>
        <div class="check-prof-follow">
            <div class="foll-item"><b>89</b> followers</div>
            <i class="sep"></i>
            <div class="foll-item"><b>182</b> songs</div>
            <i class="sep"></i>
            <div class="foll-item"><b>12</b> albums</div>
        </div>
    </div>
    <table class="check-prof-table">
        <tr>
            <td>GENRE</td>
            <td>Electronic</td>
        </tr>
        <tr>
            <td>LENGTH</td>
            <td>4:32</td>
        </tr>
        <tr>
            <td>LABEL</td>
            <td>Lorem Ipsum</td>
        </tr>
        <tr>
            <td>RELEASE</td>
            <td>2015</td>
        </tr>
    </table>
    <div class="check-track">
        <button class="box-btn play" title="play"></button>
        <div class="track-info">
            <a href="#" class="title">Border</a>
            <a href="#" class="subtitle">Trentemoller</a>
        </div>
        <div class="track-timeline">
            <div class="sound-wave"><span></span></div>
            <i class="duration">2:48</i>
        </div>
    </div>
</div>
<div class="check-left-bot">
    <div class="license-type">
        <div class="tit">CHOOSE YOUR LICENCE TYPE</div>
        <div class="type-wrap">
            <input type="checkbox" id="type1" name="type[]">
            <label for="type1" class="type-one">
                <span class="type-one-inn">
                    <b>Album</b>
                </span>
            </label>
            <input type="checkbox" id="type2" name="type[]">
            <label for="type2" class="type-one">
                <span class="type-one-inn">
                    <b>Single</b>
                </span>
            </label>
            <input type="checkbox" id="type3" name="type[]">
            <label for="type3" class="type-one">
                <span class="type-one-inn">
                    <b>Advertising</b>
                </span>
            </label>
            <input type="checkbox" id="type4" name="type[]">
            <label for="type4" class="type-one">
                <span class="type-one-inn">
                    <b>Corporate/Commercial film</b>
                </span>
            </label>
            <input type="checkbox" id="type5" name="type[]">
            <label for="type5" class="type-one">
                <span class="type-one-inn">
                    <b>Documentary/Indie/Student film</b>
                </span>
            </label>
            <input type="checkbox" id="type6" name="type[]">
            <label for="type6" class="type-one">
                <span class="type-one-inn">
                    <b>Film/TV Show</b>
                </span>
            </label>
            <input type="checkbox" id="type7" name="type[]">
            <label for="type7" class="type-one">
                <span class="type-one-inn">
                    <b>Software</b>
                </span>
            </label>
            <input type="checkbox" id="type8" name="type[]">
            <label for="type8" class="type-one">
                <span class="type-one-inn">
                    <b>Internet Video</b>
                </span>
            </label>

            <input type="checkbox" id="type9" name="type[]">
            <label for="type9" class="type-one">
                <span class="type-one-inn">
                    <b>Live Event</b>
                </span>
            </label>
            <input type="checkbox" id="type10" name="type[]">
            <label for="type10" class="type-one">
                <span class="type-one-inn">
                    <b>Music on Hold</b>
                </span>
            </label>
            <input type="checkbox" id="type11" name="type[]">
            <label for="type11" class="type-one">
                <span class="type-one-inn">
                    <b>Music Production and Audio Project/Lease (10001 to 50000 copies)</b>
                </span>
            </label>
            <input type="checkbox" id="type12" name="type[]">
            <label for="type12" class="type-one">
                <span class="type-one-inn">
                    <b>Music Production and Audio Project/Lease (1001 to 10000 copies)</b>
                </span>
            </label>
            <input type="checkbox" id="type13" name="type[]">
            <label for="type13" class="type-one">
                <span class="type-one-inn">
                    <b>Music Production and Audio Project/Lease (over 50000 copies)</b>
                </span>
            </label>
            <input type="checkbox" id="type14" name="type[]">
            <label for="type14" class="type-one">
                <span class="type-one-inn">
                    <b>Music Production and Audio Project/Lease (up to 10000 copies)</b>
                </span>
            </label>
            <input type="checkbox" id="type15" name="type[]">
            <label for="type15" class="type-one">
                <span class="type-one-inn">
                    <b>Podcast</b>
                </span>
            </label>
            <input type="checkbox" id="type16" name="type[]">
            <label for="type16" class="type-one">
                <span class="type-one-inn">
                    <b>Website</b>
                </span>
            </label>
            <input type="checkbox" id="type17" name="type[]">
            <label for="type17" class="type-one">
                <span class="type-one-inn">
                    <b>Non profit</b>
                </span>
            </label>

        </div>
    </div>
    <div class="your-card">
        <div class="tit">YOUR CART</div>
        <form action="#" class="cart-wrap">
            <div class="cart-top">
                <table>
                    <tr>
                        <td>Item Name</td>
                        <td>Border - Trentemoller</td>
                    </tr>
                    <tr>
                        <td>Item Type</td>
                        <td>
                            <select name="" id="">
                                <option value="mp3">MP3 - 300kbps</option>
                                <option value="wav">WAV - 384kbps</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="cart-body">
                <div class="body-tit">Licence</div>
                <div class="cart-line">
                    <span>Internet Video</span><b>$3,60</b>
                </div>
                <div class="cart-line">
                    <span>Documentary, Indie, Student Film</span><b>$72,40</b>
                </div>
            </div>
            <div class="cart-bot">
                <div class="cart-line">
                    <span>Total</span><b>$76,00</b>
                </div>
                <button type="submit" class="btn btn-buy">BUY NOW</button>
            </div>
        </form>
    </div>
</div>