<div class="check-r-one">
    <div class="r-one-top">
        <span>Similar Songs</span>
    </div>
    <div class="check-r-inner">
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/peoples/5.jpg" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/peoples/6.jpg" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/1.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/2.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/1.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/2.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/peoples/5.jpg" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/peoples/6.jpg" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/1.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/2.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/1.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/2.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
    </div>

</div>
<div class="check-r-one">
    <div class="r-one-top">
        <span>Comments</span>
    </div>
    <div class="r-one-body">
        <ul class="read-all-comm">
            <li class="comm-one">
                <a href="profile.html" class="img">
                    <img src="images/peoples/8.jpg" alt=""/>
                </a>
                <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</div>
            </li>
            <li class="comm-one">
                <a href="profile.html" class="img">
                    <img src="images/peoples/8.jpg" alt=""/>
                </a>
                <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cupiditate doloribus eius, enim error exercitationem, iure modi neque nesciunt pariatur possimus quae quam quas quibusdam quos reiciendis reprehenderit saepe sunt.</div>
            </li>
            <li class="comm-one">
                <a href="profile.html" class="img">
                    <img src="images/peoples/8.jpg" alt=""/>
                </a>
                <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam, aspernatur doloribus ea, exercitationem facilis fugiat ipsa itaque labore magnam modi obcaecati odit omnis provident quas recusandae unde velit veniam.</div>
            </li>
            <li class="comm-one">
                <a href="profile.html" class="img">
                    <img src="images/peoples/8.jpg" alt=""/>
                </a>
                <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deleniti ducimus ea, ex incidunt maiores mollitia nemo nostrum numquam odio optio quaerat quia, reiciendis sed sint tenetur totam vel veritatis!</div>
            </li>
            <li class="comm-one">
                <a href="profile.html" class="img">
                    <img src="images/peoples/8.jpg" alt=""/>
                </a>
                <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</div>
            </li>
            <li class="comm-one">
                <a href="profile.html" class="img">
                    <img src="images/peoples/8.jpg" alt=""/>
                </a>
                <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cupiditate doloribus eius, enim error exercitationem, iure modi neque nesciunt pariatur possimus quae quam quas quibusdam quos reiciendis reprehenderit saepe sunt.</div>
            </li>
            <li class="comm-one">
                <a href="profile.html" class="img">
                    <img src="images/peoples/8.jpg" alt=""/>
                </a>
                <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam, aspernatur doloribus ea, exercitationem facilis fugiat ipsa itaque labore magnam modi obcaecati odit omnis provident quas recusandae unde velit veniam.</div>
            </li>
            <li class="comm-one">
                <a href="profile.html" class="img">
                    <img src="images/peoples/8.jpg" alt=""/>
                </a>
                <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deleniti ducimus ea, ex incidunt maiores mollitia nemo nostrum numquam odio optio quaerat quia, reiciendis sed sint tenetur totam vel veritatis!</div>
            </li>
            <li class="comm-one">
                <a href="profile.html" class="img">
                    <img src="images/peoples/8.jpg" alt=""/>
                </a>
                <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</div>
            </li>
            <li class="comm-one">
                <a href="profile.html" class="img">
                    <img src="images/peoples/8.jpg" alt=""/>
                </a>
                <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cupiditate doloribus eius, enim error exercitationem, iure modi neque nesciunt pariatur possimus quae quam quas quibusdam quos reiciendis reprehenderit saepe sunt.</div>
            </li>
            <li class="comm-one">
                <a href="profile.html" class="img">
                    <img src="images/peoples/8.jpg" alt=""/>
                </a>
                <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam, aspernatur doloribus ea, exercitationem facilis fugiat ipsa itaque labore magnam modi obcaecati odit omnis provident quas recusandae unde velit veniam.</div>
            </li>
            <li class="comm-one">
                <a href="profile.html" class="img">
                    <img src="images/peoples/8.jpg" alt=""/>
                </a>
                <a href="profile.html" class="name"><span>İrem Karasüleymanoğlu</span></a>
                <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deleniti ducimus ea, ex incidunt maiores mollitia nemo nostrum numquam odio optio quaerat quia, reiciendis sed sint tenetur totam vel veritatis!</div>
            </li>
        </ul>
    </div>
</div>
