<div class="song-flex-table">
    <div class="thead">
        <div class="th">#</div>
        <div class="th">Track</div>
        <div class="th">Album</div>
        <div class="th ico-time"></div>
    </div>
    <div class="tbody">
        <div class="tr">
            <div class="td">
                <div class="wrap-btn-hide">
                    <div class="action-btns">
                        <button class="action-btn close" title="close">x</button>
                        |
                        <button class="action-btn like" title="like">4.289</button>
                        |
                        <button class="action-btn share" title="share">share</button>
                        |
                        <button class="action-btn add" title="add">add</button>
                    </div>
                </div>
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>1</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">Not a Bad Thing</div>
            <div class="td">Not a Bad Thing</div>
            <div class="td">4:42</div>
        </div>
        <div class="tr">
            <div class="td">
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>2</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">A Sky Full Of Stars</div>
            <div class="td">A Sky Full Of Stars</div>
            <div class="td">3:34</div>
         </div>
        <div class="tr">
            <div class="td">
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>3</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">Problem</div>
            <div class="td">Problem</div>
            <div class="td">5:12</div>
        </div>
        <div class="tr">
            <div class="td">
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>4</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">Summer</div>
            <div class="td">Summer</div>
            <div class="td">4:53</div>
        </div>
        <div class="tr">
            <div class="td">
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>5</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">Falling For You</div>
            <div class="td">The 1975</div>
            <div class="td">3:58</div>
        </div>
        <div class="tr">
            <div class="td">
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>6</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">Sing</div>
            <div class="td">The 1975</div>
            <div class="td">12:27</div>
        </div>
        <div class="tr">
            <div class="td">
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>7</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">Fancy</div>
            <div class="td">New Classic</div>
            <div class="td">2:31</div>
        </div>
        <div class="tr">
            <div class="td">
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>8</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">She Looks So Perfect</div>
            <div class="td">he Looks So Perfect</div>
            <div class="td">3:34</div>
        </div>
        <div class="tr">
            <div class="td">
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>9</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">I Won</div>
            <div class="td">Honest</div>
            <div class="td">1:58</div>
        </div>

        <div class="tr">
            <div class="td">
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>10</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">A Sky Full Of Stars</div>
            <div class="td">A Sky Full Of Stars</div>
            <div class="td">3:34</div>
        </div>
        <div class="tr">
            <div class="td">
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>1</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">Problem</div>
            <div class="td">Problem</div>
            <div class="td">5:12</div>
        </div>
        <div class="tr">
            <div class="td">
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>2</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">Summer</div>
            <div class="td">Summer</div>
            <div class="td">4:53</div>
        </div>
        <div class="tr">
            <div class="td">
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>3</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">Falling For You</div>
            <div class="td">The 1975</div>
            <div class="td">3:58</div>
        </div>
        <div class="tr">
            <div class="td">
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>4</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">Sing</div>
            <div class="td">The 1975</div>
            <div class="td">12:27</div>
        </div>
        <div class="tr">
            <div class="td">
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>5</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">Fancy</div>
            <div class="td">New Classic</div>
            <div class="td">2:31</div>
        </div>
        <div class="tr">
            <div class="td">
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>6</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">She Looks So Perfect</div>
            <div class="td">he Looks So Perfect</div>
            <div class="td">3:34</div>
        </div>
        <div class="tr">
            <div class="td">
                <button class="action-btn ellipses" title="show"></button>
                <button class="action-btn basket" title="add"></button>
                <div class="td-id">
                    <span>7</span>
                    <button class="box-btn play" title="play"></button>
                </div>
            </div>
            <div class="td">I Won</div>
            <div class="td">Honest</div>
            <div class="td">1:58</div>
        </div>
    </div>
</div>