<div class="song-dtl-left-top">
    <div class="song-dtl-prof-info">
        <img class="song-dtl-prof-image" src="./images/checkout/1.png" alt=""/>
        <h2 class="song-dtl-prof-name">
            Trentemoller <!--<span>Norway</span>-->
        </h2>
        <div class="action-btns">
            <button class="action-btn share" title="share"><span>583 </span> share</button>
            <i>|</i>
            <button class="action-btn play" title="play"><span>11.485 </span> plays</button>
            <i>|</i>
            <button class="action-btn playlist" title="add playlist"><span>689 </span> add playlist</button>
            <i>|</i>
            <button class="action-btn comment" title="comment"><span>126 </span> comments</button>
            <i>|</i>
            <button class="action-btn download" title="share"><span>43 </span> download</button>
        </div>
        <div class="song-tags">
            <a href="#" class="song-tag">indie</a>
            <a href="#" class="song-tag">instrumental</a>
            <a href="#" class="song-tag">study</a>
            <a href="#" class="song-tag">chill</a>
        </div>
    </div>
    <table class="song-dtl-prof-table">
        <tr>
            <td>GENRE</td>
            <td>Electronic</td>
        </tr>
        <tr>
            <td>LENGTH</td>
            <td>4:32</td>
        </tr>
        <tr>
            <td>LABEL</td>
            <td>Lorem Ipsum</td>
        </tr>
        <tr>
            <td>RELEASE</td>
            <td>2015</td>
        </tr>
    </table>
    <div class="song-dtl-track">
        <button class="box-btn play" title="play"></button>
        <div class="track-info">
            <a href="#" class="title">Border</a>
            <a href="#" class="subtitle">Trentemoller</a>
        </div>
        <div class="track-timeline">
            <div class="sound-wave"><span></span></div>
            <i class="duration">2:48</i>
        </div>
    </div>
</div>
<div class="song-dtl-left-bot">
    <div class="foll-left">
        <form action="#" class="foll-form">
            <input type="text" class="foll-inp" placeholder="Write a comment">
            <div class="action-btns">
                <button type="button" class="btn add-file" title="add files">add files</button>
            </div>
            <button type="submit" class="btn foll-submit">publish</button>
        </form>
        <button class="foll-comments-total"><span>16</span> comments</button>
        <div class="foll-comments">
            <div class="foll-comm-one">
                <div class="time">15 minutes ago</div>
                <a href="profile.html" class="name">
                    <img class="img" src="images/peoples/4.jpg" alt=""/>
                    <span>İrem Karasüleymanoğlu</span>
                </a>
                <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</div>
            </div>
        </div>
        <div class="foll-comments">
            <div class="foll-comm-one">
                <div class="time">15 minutes ago</div>
                <a href="profile.html" class="name">
                    <img class="img" src="images/peoples/2.jpg" alt=""/>
                    <span>Jane Stingerborne</span>
                </a>
                <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis dolor, harum odit repudiandae rerum velit. Aliquam architecto asperiores aspernatur, cumque doloremque doloribus eligendi, enim est excepturi neque nihil, saepe.</div>
            </div>
        </div>
        <div class="foll-comments">
            <div class="foll-comm-one">
                <div class="time">25 minutes ago</div>
                <a href="profile.html" class="name">
                    <img class="img" src="images/peoples/9.jpg" alt=""/>
                    <span>Jade Snowland</span>
                </a>
                <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis dolor, harum odit repudiandae rerum velit. Aliquam architecto asperiores aspernatur, cumque doloremque doloribus eligendi, enim est excepturi neque nihil, saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</div>
            </div>
        </div>
        <div class="foll-comments">
            <div class="foll-comm-one">
                <div class="time">47 minutes ago</div>
                <a href="profile.html" class="name">
                    <img class="img" src="images/peoples/10.jpg" alt=""/>
                    <span>Helen Middletone</span>
                </a>
                <div class="mess">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis dolor, harum odit repudiandae rerum velit. Aliquam architecto asperiores aspernatur, cumque doloremque doloribus eligendi, enim est excepturi neque nihil, saepe.</div>
            </div>
        </div>
    </div>

</div>