<div class="song-dtl-r-one">
    <div class="r-one-top">
        <span>Similar Songs</span>
    </div>
    <div class="r-one-body">
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/peoples/5.jpg" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/peoples/6.jpg" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/1.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/2.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/1.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/2.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/peoples/5.jpg" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/peoples/6.jpg" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/1.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/2.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/1.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/2.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/peoples/5.jpg" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/peoples/6.jpg" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/1.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/2.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/1.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/2.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/peoples/5.jpg" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/peoples/6.jpg" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/1.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/2.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/1.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
        <div class="song-one">
            <button type="button" class="box-btn">
                <img src="images/checkout/2.png" alt=""/>
            </button>
            <div class="author"><span>David August</span></div>
            <div class="title"><span>Hamburg is for Lovers</span></div>
            <button type="button" class="song-buy-btn">Buy</button>
        </div>
    </div>

</div>
